/******

Folha de estilo: Educação física;
Nível de ensino: EF2;

Cliente: SAE Digital;

*******/

/**** Texto, títulos e listas ****/

h1,
h2,
h3, .textoLegenda {
    color: #6d5a9c;
}

/**** Imagens ****/

span.layout_fio_legenda {
    color: #6d5a9c;
}

/**** Tabelas ****/

table {
    background-color: #38354f;
}
tr:nth-child(odd) {
    background-color: #e9e7c4;
}
tr:nth-child(even) {
    background-color: #fefce2;
}
.cabecalho {
    background-color: #38354f;
    width: 25%;
}

/**** Cabeçalho ****/

header {
    background: #38354f;
    color: #FFF;
}
body.ef2 header::after {
    background-position: -842px -90px;
}

/**** Blocos da disciplina ****/

.disciplina,
.disciplina:before,
.disciplina:after {
    background-color: #80969f;
}

.nesteCapitulo {
    background-color: #38354f;
}
body.ef2 blockquote.pagina {
    border-color: #38354f #38354f transparent #38354f; /* CSS disciplina */
}

/** OD Abas **/

.od .abas,
.od .abas:before,
.od .abas:after {
    background-color: #80969f;
}
.od .abas > ul > li > a {
    background-color: #80969f;
    color: white;
}
.od .abas > ul > li > a.active,
.od .abas > ul > li > a:hover {
	background-color: white;
    color: #80969f;
}
