/******

Folha de estilo: Física;
Nível de ensino: EF2;

Cliente: SAE Digital;

*******/

/**** Texto, títulos e listas ****/

h1, .enunciadoNumero .numeracao,
.nivelUm .numeracao,
.nivelDois .numeracao,
.tituloExSol .numeracao,
.textoExSol .numeracao,
p.enunciadoNumero .layout_bold_disciplina,
p.enunciadoNumero .segunda_cor,
.alternativaLetra span, .textoLegenda, .destaque2, 
.textoCitado, .textoReferenciaCor {
    color: #73c4c4;
}
h2 {
    color: #73c4c4;
}
h3 {
    color: #97d1d1;
}
h4 {
    color: #b5dddd;
}

/**** Tabelas ****/

table {
    background-color: #909fbc;
}
.cabecalho {
    background-color: #909fbc;
    width: 25%;
}

/**** Cabeçalho ****/

header {
    background: #5b7ba2;
	color: #FFF;
}
body.ef2 header::after {
    background-position: -5px -365px;
}

/**** Blocos da disciplina ****/

.disciplina {
    background-color: #cecad7;
}

.nesteCapitulo {
    background-color: #5b7ba2;
}
body.ef2 blockquote.pagina {
    border-color: #5b7ba2 #5b7ba2 transparent #5b7ba2; /* CSS disciplina */
}

/** OD Abas **/

.od .abas,
.od .abas:before,
.od .abas:after {
    background-color: #D4F3FF;
}
.od .abas > ul > li > a {
    background-color: #00A4E2;
    color: white;
}
.od .abas > ul > li > a.active,
.od .abas > ul > li > a:hover {
	background-color: white;
    color: #00A4E2;
}
