/******

Folha de estilo: Quimica;
Nível de ensino: EF2;

Cliente: SAE Digital;

*******/

/**** Texto, títulos e listas ****/

h1, .enunciadoNumero .numeracao,
.nivelUm .numeracao,
.nivelDois .numeracao,
.tituloExSol .numeracao,
.textoExSol .numeracao,
p.enunciadoNumero .layout_bold_disciplina,
p.enunciadoNumero .segunda_cor,
.alternativaLetra span, .textoLegenda, .destaque2, 
.textoCitado, .textoReferenciaCor {
    color: #5a2164;
}
h2 {
    color: #5a2164;
}
h3 {
    color: #764478;
}
h4 {
    color: #956e95;
}

/**** Tabelas ****/

table {
    background-color: #b9699f;
}
.cabecalho {
    background-color: #b9699f;
    width: 25%;
}

/**** Cabeçalho ****/

header {
    background: #a0197b;
	color: #FFF;
}
body.ef2 header::after {
	background-position: -842px -5px;
}

/**** Blocos da disciplina ****/

.disciplina {
    background-color: #eef3da;
}

.nesteCapitulo {
    background-color: #a0197b;
}
body.ef2 blockquote.pagina {
    border-color: #a0197b #a0197b transparent #a0197b; /* CSS disciplina */
}

/** OD Abas **/

.od .abas,
.od .abas:before,
.od .abas:after {
    background-color: #c8b7d5;
}
.od .abas > ul > li > a {
    background-color: #6b3689;
    color: white;
}
.od .abas > ul > li > a.active,
.od .abas > ul > li > a:hover {
	background-color: white;
    color: #6b3689;
}
