/******

Folha de estilo: 3 Anos;
Nível de ensino: EI;

Cliente: SAE Digital;

*******/

/**** Texto, títulos e listas ****/

h1,
h2,
h3 {
    color: #E9416C;
}

/**** Imagens ****/

span.layout_fio_legenda {
    color: #E9416C;
}

/**** Tabelas ****/

table {
    background-color: #E9416C;
}
tr:nth-child(odd) {
    background-color: #FCEFF0;
}
tr:nth-child(even) {
    background-color: #E2ACB0;
}
.cabecalho {
    background-color: #E9416C;
    width: 25%;
}

/**** Blocos principais ****/

body.ei section {
	border-color: #E9416C;
}
body.ei blockquote.pagina {
    border-color: #E9416C #E9416C transparent #E9416C; /* CSS disciplina */
}

/**** Atividades ****/

.numeracao,
.alternativaLetra span {
    color: #E9416C!important;
}

div.professor .numeracao,
.alternativa span {
    color: #636262!important;
}

/**** Blocos da disciplina ****/

.disciplina,
.disciplina:before,
.disciplina:after {
    background-color: #FCF2F3;
}
body.ei blockquote.fio {
    border: 3px solid #636262;
    background-color: #dedede;
    border-radius: 40px;
}
