/******

Folha de estilo: 1 Ano;
Nível de ensino: EI;

Cliente: SAE Digital;

*******/

/**** Texto, títulos e listas ****/

h1,
h2,
h3 {
    color: #5dabb8;
}

/**** Imagens ****/

span.layout_fio_legenda {
    color: #5dabb8;
}

/**** Tabelas ****/

table {
    background-color: #5dabb8;
}
tr:nth-child(odd) {
    background-color: #FCEFF0;
}
tr:nth-child(even) {
    background-color: #ddedf9;
}
.cabecalho {
    background-color: #b4d5d8;
    width: 25%;
}

/**** Blocos principais ****/

body.ei section {
	border-color: #5dabb8;
}
body.ei blockquote.pagina {
    border-color: #5dabb8 #5dabb8 transparent #5dabb8; /* CSS disciplina */
}
body.ei blockquote.fio {
    border: 3px dotted #5dabb8;
}

/**** Atividades ****/

.numeracao,
.alternativaLetra span {
	color: #5dabb8!important;
}

/**** Blocos da disciplina ****/

.disciplina,
.disciplina:before,
.disciplina:after {
    background-color: #e5fafd;
}

                    .featherlight .featherlight-content {
    border-left: 15px solid #5dabb8;
}
