/******

Folha de estilo: 2 Anos;
Nível de ensino: EI;

Cliente: SAE Digital;

*******/

/**** Texto, títulos e listas ****/

h1,
h2,
h3 {
    color: #db9600;
}

/**** Imagens ****/

span.layout_fio_legenda {
    color: #db9600;
}

/**** Tabelas ****/

table {
    background-color: #db9600;
}
tr:nth-child(odd) {
    background-color: #fcf7e9;
}
tr:nth-child(even) {
    background-color: #f2e3a4;
}
.cabecalho {
    background-color: #db9600;
    width: 25%;
}

/**** Blocos principais ****/

body.ei section {
	border-color: #db9600;
}
body.ei blockquote.pagina {
    border-color: #db9600 #db9600 transparent #db9600; /* CSS disciplina */
}
body.ei blockquote.fio {
    border: 3px dotted #db9600;
}

/**** Atividades ****/

.numeracao,
.alternativaLetra span {
	color: #db9600!important;
}

/**** Blocos da disciplina ****/

.disciplina,
.disciplina:before,
.disciplina:after {
    background-color: #fefde8;
}

                    .featherlight .featherlight-content {
    border-left: 15px solid #db9600;
}

