:root {
	--header-1: #c42e4b;
	--header-2: #050607;

	--circulo-disciplina: Arte;
	--circulo-1: #1a1d3a;
	--circulo-2: #e0124a;
	--header-linha: #5a2e6b;
}


body.medio header{
	background: linear-gradient(to left, #c42e4b, #050607); 
}

body.medio header:before{
	background-position: -1630px -910px;
}



/***************************************************************** ODs ***************************************************************/
.objetoDigital{
	background-color: rgba(230,24,74,0.64);
}
.janelaProfessorExtensivo .janelaProfessorExtensivo-content h2{
color: #5a2e6b;
}
.telaMenu #od_tit {
	background-color: rgba(90,46,107,0.85);
	}
/***********************************************************************************/

body.medio blockquote.blocoMod p.sequenciaMod{
	background-color: #e6194a;
}
body.medio blockquote.blocoMod p.sequenciaMod span.detalhe{
	border-color: transparent transparent transparent #e6194a;
}

body.medio blockquote.blocoTitulo div.linhaPonto{
	background-color: #5a2e6b;
}
body.medio blockquote.blocoTitulo div.linhaPonto:before{
	color: #5a2e6b;
}

body.medio main h2{
	color: #e6194a;
}

body.medio main h3{
	color: #1a1d3a;
}

body.medio main h4{
	color: #1a1d3a;
}

body.medio main h5{
	color: #1a1d3a;
}

body.medio main blockquote.citadoMed{
	border-radius: 2em;
	border: 2px solid #5a2e6b;
	background-color: #c2b6d1;
}

body.medio main p span.numeracao{
	color: #e6194a;
}

body.medio main blockquote.disciplinaMed{
	background-color: #FFD8E1;
}

body.medio main blockquote.fio{
	border: 3px solid #1a1d3a;
}

body.medio main h4.artesEmeioAmbiente, body.medio main h4.artesEsociedade, body.medio .emFechamento{
	color: #1a1d3a;
}

.emFechamento > strong {
	color: #e6194a;
}

body.medio main p.alternativaLetra span{
	color: #e6194a;
}


body.medio main p.alternativaLetra span{
	color:#e6194a;
}



body.medio main label > span.check {
	border: 2px solid #e6194a;
}

body.medio main label > input[type="radio"]:checked + .check:before {
	background-color:#e6194a;
}



body.medio td.cabecalho {
	background-color: #e6194a;
}
body.medio td {
	background-color:  #FFD8E1;
}
/*
body.medio main button.gabarito {
	background-color: #1a1d3a;
	box-shadow: 0 9px #539B0A;
}

body.medio main button.gabarito:not(:active):hover{
	background-color: #59921F;
	box-shadow: 0 9px #4E7229;
}





body.medio main button.gabarito:active{
	background-color: #43780D;
	box-shadow: 0 3px #326004;
	transform: translateY(4px);

}



body.medio main blockquote.pontuacao{
	border: 3px solid #1a1d3a;
}
body.medio main blockquote.pontuacao p{
	color: #1a1d3a;
	}*/


	body.medio main p.paginacao{
		padding-left: 2em;
		padding-right: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 15px;
		font-family: 'Orbitron'!important;
		font-weight: bold;
		color: white!important;
		background-color: #1a1d3a;
		border-radius: 0 2em 2em 0;
		vertical-align: middle;
	}
	body.medio main blockquote.pagina{
		padding: 0;
		border: 2px solid #1a1d3a;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		clear: both;
		float: right;
	}


	body.medio main blockquote.pontuacao p.tituloResposta{
		color: #1a1d3a;
	}

	body.medio main p.textoLegenda{
		border-top: 2px solid #1a1d3a;
	}

	body.medio main blockquote.fundoCor{
		background-color: #1a1d3a;
	}

	body.medio main blockquote.fundoCor blockquote.fio{
		background-color: #1a1d3a;
	}
	body.medio blockquote.pontilhadoMed{
	border: 3px solid #1a1d3a;
	border-style: dotted;
	border-radius: 2em;
}



	