:root {
	--header-1: #229093;
	--header-2: #060708;
	
	--circulo-disciplina: Biologia;
	--circulo-1: #00788d;
	--circulo-2: #221555;
	--header-linha: #30b08c;
}

body.medio header{
	background: linear-gradient(to left, #229093, #060708); 
}

body.medio header:before{
	background-position: -1100px -480px;
}



/***************************************************************** ODs ***************************************************************/
.objetoDigital{
	background-color: rgba(45,49,136,0.64);
}
.janelaProfessorExtensivo .janelaProfessorExtensivo-content h2{
color: #dd710f;
}
.telaMenu #od_tit {
	background-color: rgba(221,113,15,0.85);
	}
/***********************************************************************************/


body.medio blockquote.blocoMod p.sequenciaMod{
	background-color: #221555;
}
body.medio blockquote.blocoMod p.sequenciaMod span.detalhe{
	border-color: transparent transparent transparent #221555;
}

body.medio blockquote.blocoTitulo div.linhaPonto{
	background-color: #30b08c;
}
body.medio blockquote.blocoTitulo div.linhaPonto:before{
	color: #30b08c;
}

body.medio main h2{
	color: #221555;
}

body.medio main h3{
	color: #00788d;
}

body.medio main h4{
	color: #00788d;
}

body.medio main h5{
	color: #00788d;
}

body.medio main blockquote.citadoMed{
	border-radius: 2em!important;
	border: 2px solid #30b08c!important;
	background-color: #d2e9de!important;
}

body.medio main p span.numeracao{
	color: #221555;
}

body.medio main blockquote.disciplinaMed{
	background-color: #a9a3c4;
}

body.medio main blockquote.fio{
	border: 3px solid #00788d;
}

body.medio main h4.cienciasEmeioAmbiente, body.medio main h4.cienciasEsociedade, body.medio .emFechamento{
	color: #00788d;
}

.emFechamento > strong {
	color: #221555;
}


body.medio main p.alternativaLetra span{
	color: #221555;
}


body.medio main p.alternativaLetra span{
	color:#221555;
}



body.medio main label > span.check {
	border: 2px solid #221555;
}

body.medio main label > input[type="radio"]:checked + .check:before {
	background-color:#221555;
}



body.medio td.cabecalho {
	background-color: #221555;
}
body.medio td {
	background-color:  #a9a3c4;
}
/*
body.medio main button.gabarito {
	background-color: #00788d;
	box-shadow: 0 9px #539B0A;
}

body.medio main button.gabarito:not(:active):hover{
	background-color: #59921F;
	box-shadow: 0 9px #4E7229;
}





body.medio main button.gabarito:active{
	background-color: #43780D;
	box-shadow: 0 3px #326004;
	transform: translateY(4px);

}



body.medio main blockquote.pontuacao{
	border: 3px solid #00788d;
}
body.medio main blockquote.pontuacao p{
	color: #00788d;
	}*/


	body.medio main p.paginacao{
		padding-left: 2em;
		padding-right: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 15px;
		font-family: 'Orbitron'!important;
		font-weight: bold;
		color: white!important;
		background-color: #00788d;
		border-radius: 0 2em 2em 0;
		vertical-align: middle;
	}
	body.medio main blockquote.pagina{
		padding: 0;
		border: 2px solid #00788d;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		clear: both;
		float: right;
	}


	body.medio main blockquote.pontuacao p.tituloResposta{
		color: #00788d;
	}

	body.medio main p.textoLegenda{
		border-top: 2px solid #00788d;
	}

	body.medio main blockquote.fundoCor{
		background-color: #00788d;
	}

	body.medio main blockquote.fundoCor blockquote.fio{
		background-color: #00788d;
	}
	body.medio blockquote.pontilhadoMed{
	border: 3px solid #00788d;
	border-style: dotted;
	border-radius: 2em;
}

	