:root {
	--header-1: #11466b;
	--header-2: #0c0f14;
	
	--circulo-disciplina: Filosofia;
	--circulo-1: #004c78;
	--circulo-2: #ea4f3e;
	--header-linha: #f59c00;
}


body.medio header{
	background: linear-gradient(to left, #11466b, #0c0f14); 
}

body.medio header:before{
	background-position: -565px -910px;
}

/***************************************************************** ODs ***************************************************************/
.objetoDigital{
	background-color: rgba(45,49,136,0.64);
}
.janelaProfessorExtensivo .janelaProfessorExtensivo-content h2{
color:#dd710f;
}
.telaMenu #od_tit {
	background-color: rgba(221,113,15, 0.85);
	}
/***********************************************************************************/


body.medio blockquote.blocoMod p.sequenciaMod{
	background-color: #ea4f3d;
}
body.medio blockquote.blocoMod p.sequenciaMod span.detalhe{
	border-color: transparent transparent transparent #ea4f3d;
}

body.medio blockquote.blocoTitulo div.linhaPonto{
	background-color: #f59c00;
}
body.medio blockquote.blocoTitulo div.linhaPonto:before{
	color: #f59c00;
}

body.medio main h2{
	color: #ea4f3d;
}

body.medio main h3{
	color: #004c77;
}

body.medio main h4{
	color: #004c77;
}

body.medio main h5{
	color: #004c77;
}

body.medio main blockquote.citadoMed{
	border-radius: 2em;
	border: 2px solid #f59c00;
	background-color: #fee3bd;
}

body.medio main p span.numeracao{
	color: #ea4f3d;
}

body.medio main blockquote.disciplinaMed{
	background-color: #ecc5b7;
}

body.medio main blockquote.fio{
	border: 3px solid #004c77;
}


body.medio main h4.filosofiaEmeioAmbiente, body.medio main h4.filosofiaEsociedade, body.medio .emFechamento{
	color: #004c77;
}

.emFechamento > strong {
	color: #ea4f3d;
}

body.medio main p.alternativaLetra span{
	color: #ea4f3d;
}


body.medio main p.alternativaLetra span{
	color:#ea4f3d;
}



body.medio main label > span.check {
	border: 2px solid #ea4f3d;
}

body.medio main label > input[type="radio"]:checked + .check:before {
	background-color:#ea4f3d;
}



body.medio td.cabecalho {
	background-color: #ea4f3d;
}
body.medio td {
	background-color:  #ecc5b7;
}
/*
body.medio main button.gabarito {
	background-color: #004c77;
	box-shadow: 0 9px #539B0A;
}

body.medio main button.gabarito:not(:active):hover{
	background-color: #59921F;
	box-shadow: 0 9px #4E7229;
}





body.medio main button.gabarito:active{
	background-color: #43780D;
	box-shadow: 0 3px #326004;
	transform: translateY(4px);

}



body.medio main blockquote.pontuacao{
	border: 3px solid #004c77;
}
body.medio main blockquote.pontuacao p{
	color: #004c77;
	}*/


	body.medio main p.paginacao{
		padding-left: 2em;
		padding-right: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 15px;
		font-family: 'Orbitron'!important;
		font-weight: bold;
		color: white!important;
		background-color: #004c77;
		border-radius: 0 2em 2em 0;
		vertical-align: middle;
	}
	body.medio main blockquote.pagina{
		padding: 0;
		border: 2px solid #004c77;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		clear: both;
		float: right;
	}


	body.medio main blockquote.pontuacao p.tituloResposta{
		color: #004c77;
	}

	body.medio main p.textoLegenda{
		border-top: 2px solid #004c77;
	}

	body.medio main blockquote.fundoCor{
		background-color: #004c77;
	}

	body.medio main blockquote.fundoCor blockquote.fio{
		background-color: #004c77;
	}

	body.medio blockquote.pontilhadoMed{
	border: 3px solid #004c77;
	border-style: dotted;
	border-radius: 2em;
}

	