:root {
	--header-1: #ca4a29;
	--header-2: #181212;
	
	--circulo-disciplina: Física;
	--circulo-1: #a72055;
	--circulo-2: #ec681d;
	--header-linha: #0090bd;
}


body.medio header{
	background: linear-gradient(to left, #ca4a29, #181212); 
}

body.medio header:before{
	background-position: -20px -480px;
}

/***************************************************************** ODs ***************************************************************/
.objetoDigital{
	background-color: rgba(230,123,0,0.64);
}
.janelaProfessorExtensivo .janelaProfessorExtensivo-content h2{
color:#492f86;
}
.telaMenu #od_tit {
	background-color: rgba(73,47,134, 0.85);
	}
/***********************************************************************************/


body.medio blockquote.blocoMod p.sequenciaMod{
	background-color: #ec671f;
}
body.medio blockquote.blocoMod p.sequenciaMod span.detalhe{
	border-color: transparent transparent transparent #ec671f;
}

body.medio blockquote.blocoTitulo div.linhaPonto{
	background-color: #0090bd;
}
body.medio blockquote.blocoTitulo div.linhaPonto:before{
	color: #0090bd;
}

body.medio main h2{
	color: #ec671f;
}

body.medio main h3{
	color: #a62055;
}

body.medio main h4{
	color: #a62055;
}

body.medio main h5{
	color: #a62055;
}

body.medio main blockquote.citadoMed{
	border-radius: 2em;
	border: 2px solid #0090bd;
	background-color: #c1ddee;
}

body.medio main p span.numeracao{
	color: #ec671f;
}

body.medio main blockquote.disciplinaMed{
	background-color: #fbd0b4;
}

body.medio main blockquote.fio{
	border: 3px solid #a62055;
}

body.medio main h4.fisicaEmeioAmbiente, body.medio main h4.fisicaEsociedade, body.medio .emFechamento{
	color: #a62055;
}

.emFechamento > strong {
	color: #ec671f;
}

body.medio main p.alternativaLetra span{
	color: #ec671f;
}


body.medio main p.alternativaLetra span{
	color:#ec671f;
}



body.medio main label > span.check {
	border: 2px solid #ec671f;
}

body.medio main label > input[type="radio"]:checked + .check:before {
	background-color:#ec671f;
}



body.medio td.cabecalho {
	background-color: #ec671f;
}
body.medio td {
	background-color:  #fbd0b4;
}
/*
body.medio main button.gabarito {
	background-color: #a62055;
	box-shadow: 0 9px #539B0A;
}

body.medio main button.gabarito:not(:active):hover{
	background-color: #59921F;
	box-shadow: 0 9px #4E7229;
}





body.medio main button.gabarito:active{
	background-color: #43780D;
	box-shadow: 0 3px #326004;
	transform: translateY(4px);

}



body.medio main blockquote.pontuacao{
	border: 3px solid #a62055;
}
body.medio main blockquote.pontuacao p{
	color: #a62055;
	}*/


	body.medio main p.paginacao{
		padding-left: 2em;
		padding-right: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 15px;
		font-family: 'Orbitron'!important;
		font-weight: bold;
		color: white!important;
		background-color: #a62055;
		border-radius: 0 2em 2em 0;
		vertical-align: middle;
	}
	body.medio main blockquote.pagina{
		padding: 0;
		border: 2px solid #a62055;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		clear: both;
		float: right;
	}


	body.medio main blockquote.pontuacao p.tituloResposta{
		color: #a62055;
	}

	body.medio main p.textoLegenda{
		border-top: 2px solid #a62055;
	}

	body.medio main blockquote.fundoCor{
		background-color: #a62055;
	}

	body.medio main blockquote.fundoCor blockquote.fio{
		background-color: #a62055;
	}



	body.medio blockquote.pontilhadoMed{
	border: 3px solid #a62055;
	border-style: dotted;
	border-radius: 2em;
}