:root {
	--header-1: #542668;
	--header-2: #080809;
	
	--circulo-disciplina: Língua Portuguesa;
	--circulo-1: #5a1d70;
	--circulo-2: #f39200;
	--header-linha: #32bef0;
}


body.medio header{
	background: linear-gradient(to left, #542668, #080809); 
}

body.medio header:before{
	background-position: -20px -60px;
}

/***************************************************************** ODs ***************************************************************/
.objetoDigital{
	background-color: rgba(86,28,112,0.64);
}
.janelaProfessorExtensivo .janelaProfessorExtensivo-content h2{
color:#f29400;
}
.telaMenu #od_tit {
	background-color: rgba(242,148,0,1);
	}
/***********************************************************************************/



body.medio blockquote.blocoMod p.sequenciaMod{
	background-color: #f39200;
}
body.medio blockquote.blocoMod p.sequenciaMod span.detalhe{
	border-color: transparent transparent transparent #f39200;
}

body.medio blockquote.blocoTitulo div.linhaPonto{
	background-color: #32bef0;
}
body.medio blockquote.blocoTitulo div.linhaPonto:before{
	color: #32bef0;
}

body.medio main h2{
	color: #f39200;
}

body.medio main h3{
	color: #5a1d70;
}

body.medio main h4{
	color: #5a1d70;
}

body.medio main h5{
	color: #5a1d70;
}

body.medio main blockquote.citadoMed{
	border-radius: 2em;
	border: 2px solid #32bef0;
	background-color: #d4edfc;
}

body.medio main p span.numeracao{
	color: #f39200;
}

body.medio main blockquote.disciplinaMed{
	background-color: #fee0bc;
}

body.medio main blockquote.fio{
	border: 3px solid #5a1d70;
}

body.medio main h4.portuguesEmeioAmbiente, body.medio main h4.portuguesEsociedade, body.medio .emFechamento{
	color: #5a1d70;
}

.emFechamento > strong {
	color: #f39200;
}

body.medio main p.alternativaLetra span{
	color: #f39200;
}


body.medio main p.alternativaLetra span{
	color:#f39200;
}



body.medio main label > span.check {
	border: 2px solid #f39200;
}

body.medio main label > input[type="radio"]:checked + .check:before {
	background-color:#f39200;
}



body.medio td.cabecalho {
	background-color: #f39200;
}
body.medio td {
	background-color:  #fee0bc;
}
/*
body.medio main button.gabarito {
	background-color: #5a1d70;
	box-shadow: 0 9px #539B0A;
}

body.medio main button.gabarito:not(:active):hover{
	background-color: #59921F;
	box-shadow: 0 9px #4E7229;
}





body.medio main button.gabarito:active{
	background-color: #43780D;
	box-shadow: 0 3px #326004;
	transform: translateY(4px);

}



body.medio main blockquote.pontuacao{
	border: 3px solid #5a1d70;
}
body.medio main blockquote.pontuacao p{
	color: #5a1d70;
	}*/


	body.medio main p.paginacao{
		padding-left: 2em;
		padding-right: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 15px;
		font-family: 'Orbitron'!important;
		font-weight: bold;
		color: white!important;
		background-color: #5a1d70;
		border-radius: 0 2em 2em 0;
		vertical-align: middle;
	}
	body.medio main blockquote.pagina{
		padding: 0;
		border: 2px solid #5a1d70;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		clear: both;
		float: right;
	}


	body.medio main blockquote.pontuacao p.tituloResposta{
		color: #5a1d70;
	}

	body.medio main p.textoLegenda{
		border-top: 2px solid #5a1d70;
	}

	body.medio main blockquote.fundoCor{
		background-color: #5a1d70;
	}

	body.medio main blockquote.fundoCor blockquote.fio{
		background-color: #5a1d70;
	}

	body.medio blockquote.pontilhadoMed{
	border: 3px solid #5a1d70;
	border-style: dotted;
	border-radius: 2em;
}

	