:root {
	--header-1: #5b1b49;
	--header-2: #050608;
	
	--circulo-disciplina: Redação;
	--circulo-1: #5f0e4a;
	--circulo-2: #0078aa;
	--header-linha: #0078ab;
}


body.medio header{
	background: linear-gradient(to left, #5b1b49, #050608); 
}

body.medio header:before{
	background-position: -565px -60px;
}


/***************************************************************** ODs ***************************************************************/
.objetoDigital{
	background-color: rgba(0,120,171,0.64);
}
.janelaProfessorExtensivo .janelaProfessorExtensivo-content h2{
color: #5f094b;
}
.telaMenu #od_tit {
	background-color: rgba(95,9,75,0.85);
	}
/***********************************************************************************/

body.medio blockquote.blocoMod p.sequenciaMod{
	background-color: #0078ab;
}
body.medio blockquote.blocoMod p.sequenciaMod span.detalhe{
	border-color: transparent transparent transparent #0078ab;
}

body.medio blockquote.blocoTitulo div.linhaPonto{
	background-color: #0078ab;
}
body.medio blockquote.blocoTitulo div.linhaPonto:before{
	color: #0078ab;
}

body.medio main h2{
	color: #0078ab;
}

body.medio main h3{
	color: #5f104a;
}

body.medio main h4{
	color: #5f104a;
}

body.medio main h5{
	color: #5f104a;
}

body.medio main blockquote.citadoMed{
	border-radius: 2em;
	border: 2px solid #0078ab;
	background-color: #afd4e8;
}

body.medio main p span.numeracao{
	color: #0078ab;
}

body.medio main blockquote.disciplinaMed{
	background-color: #add2e5;
}

body.medio main blockquote.fio{
	border: 3px solid #5f104a;
}

body.medio main h4.redacaoEmeioAmbiente, body.medio main h4.redacaoEsociedade, body.medio .emFechamento{
	color: #5f104a;
}

.emFechamento > strong {
	color: #0078ab;
}

body.medio main p.alternativaLetra span{
	color: #0078ab;
}


body.medio main p.alternativaLetra span{
	color:#0078ab;
}



body.medio main label > span.check {
	border: 2px solid #0078ab;
}

body.medio main label > input[type="radio"]:checked + .check:before {
	background-color:#0078ab;
}



body.medio td.cabecalho {
	background-color: #0078ab;
}
body.medio td {
	background-color:  #add2e5;
}
/*
body.medio main button.gabarito {
	background-color: #5f104a;
	box-shadow: 0 9px #539B0A;
}

body.medio main button.gabarito:not(:active):hover{
	background-color: #59921F;
	box-shadow: 0 9px #4E7229;
}





body.medio main button.gabarito:active{
	background-color: #43780D;
	box-shadow: 0 3px #326004;
	transform: translateY(4px);

}



body.medio main blockquote.pontuacao{
	border: 3px solid #5f104a;
}
body.medio main blockquote.pontuacao p{
	color: #5f104a;
	}*/


	body.medio main p.paginacao{
		padding-left: 2em;
		padding-right: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 15px;
		font-family: 'Orbitron'!important;
		font-weight: bold;
		color: white!important;
		background-color: #5f104a;
		border-radius: 0 2em 2em 0;
		vertical-align: middle;
	}
	body.medio main blockquote.pagina{
		padding: 0;
		border: 2px solid #5f104a;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		clear: both;
		float: right;
	}


	body.medio main blockquote.pontuacao p.tituloResposta{
		color: #5f104a;
	}

	body.medio main p.textoLegenda{
		border-top: 2px solid #5f104a;
	}

	body.medio main blockquote.fundoCor{
		background-color: #5f104a;
	}

	body.medio main blockquote.fundoCor blockquote.fio{
		background-color: #5f104a;
	}

	body.medio blockquote.pontilhadoMed{
	border: 3px solid #5f104a;
	border-style: dotted;
	border-radius: 2em;
}

	