/******

Folha de estilo: Ajustes para dispositivos entre 641px e 1024px de largura;

Cliente: SAE Digital;

*******/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    /**** Texto, títulos e listas ****/
    body.ef1 blockquote .tituloQuote {
        font-size: 1.0em;
    }
    p {
        font-size: 0.8em;
        line-height: 1.25em;
        /*text-indent: 1.6em;*/
    }
    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1.0em;
    }
    h4 {
        font-size: 0.8em;
    }
    .colunas {
        -webkit-column-count: 2 !important;
        -moz-column-count: 2 !important;
        column-count: 2 !important;
    }
    /**** Imagens e Objetos ****/
    figure.maxQuarto,
    iframe.maxQuarto,
    object.maxQuarto,
    figure.maxTresQuartos,
    iframe.maxTresQuartos,
    object.maxTresQuartos {
        max-width: calc(50% - 1.4em);
    }
    /**** Blockquote ****/
    blockquote {
        margin: 3.4em 0 1.4em;
    }
    blockquote.maxMetade {
        max-width: calc(50% - 3.4em);
    }
    blockquote.maxQuarto {
        padding: 1em 0.5em;
        max-width: calc(100% - 2.4em);
    }
    body.ef2 blockquote.boxCinza h1.tituloQuote {
    	padding: 1em 0 0.7em 2.5em;
    }
    body.ef2 blockquote.boxCinza h1.tituloQuote span.inner:before {
    	top: 7px;
    }
    body.ef2 blockquote.boxCinza:before {
        height: 80px;
    }
    body.ef2 blockquote.boxCinza h1.tituloQuote , body.ef2 blockquote.boxCinza h1.tituloQuote span.inner:before {
    	top: -5px;
    }
    body.ef2 blockquote.boxCinza h1.tituloQuote span.inner:before {
    	top: 5px;
        left: 0;
    }
    body.ef2 blockquote.box h1.tituloQuote {
    	width: 508px;
    	height: 44px;
        background-size: 508px;
        background-position: 0 0;
        background-repeat: no-repeat;
    }
    body.ef2 blockquote.box h1.tituloQuote span.inner {
    	font-size: 0.65em;
        top: -0.4em;
        position: relative;
        left: 110px;
    }
    body.ef1 blockquote.disciplina.maxMetade {
        max-width: calc(50% - 3.4em - 8px);
    }
    body.ef1 blockquote.disciplina.maxQuarto {
        padding: 1em 0.5em;
        max-width: calc(100% - 2.4em - 8px);
    }
    blockquote .tituloQuote {
        top: -2.6em;
    }
    /**** Cabeçalho ****/
    header p.abertura {
        width: 90%;
        padding: 0 5%;
        font-size: 0.8em;
    }
    /**** Formatação dos blocos principais ****/
    figure.imagemPrincipal {
        height: 22em;
    }
    figure.imagemPrincipal figcaption {
        /*width: 90%;*/
        padding: 2em 5% 1em;
        font-size: 0.8em;
    }
    figure.imagemPrincipal figcaption p.textoCredito {
        font-size: 0.6em;
    }
    main {
        width: 90%;
    }
    /**** Professor ****/
    .janelaProfessor .janelaProfessor-content {
        max-width: 70%;
    }
    .janelaProfessor .janelaProfessor-close-icon {
        right: 2%;
    }


div.rankEstrela button#botao1{
    border: none;
    background-color: transparent;
    width: 4em;
    height: 4em;
    padding: 0;
    background-image: url(../image/estrela_vazia_rover.png);
    background-repeat: no-repeat;
    outline: none;
    background-size: contain;
}
div.rankEstrela button#botao2{
    border: none;
    background-color: transparent;
    width: 4em;
    height: 4em;
    padding: 0;
    background-image: url(../image/estrela_vazia_rover.png);
    background-repeat: no-repeat;
    outline: none;
    background-size: contain;
}
div.rankEstrela button#botao3{
    border: none;
    background-color: transparent;
    width: 4em;
    height: 4em;
    padding: 0;
    background-image: url(../image/estrela_vazia_rover.png);
    background-repeat: no-repeat;
    outline: none;
    background-size: contain;
}
div.rankEstrela button#botao4{
    border: none;
    background-color: transparent;
    width: 4em;
    height: 4em;
    padding: 0;
    background-image: url(../image/estrela_vazia_rover.png);
    background-repeat: no-repeat;
    outline: none;
    background-size: contain;
}
div.rankEstrela button#botao5{
    border: none;
    background-color: transparent;
    width: 4em;
    height: 4em;
    padding: 0;
    background-image: url(../image/estrela_vazia_rover.png);
    background-repeat: no-repeat;
    outline: none;
    background-size: contain;
}


    /** ODs **/
    .od .arrastar .areaArraste ul {
        font-size: 0.65em;
        line-height: 1.2em;
    }
    .od .arrastar .areaArraste ul.areaPegar li.texto {
        padding: 0.1em 0.4em;
    }
    .od .lacunas .container p,
    .od .relacionaveis .container p {
        line-height: 1.6em;
    }
    div.od > div:not(.professor) {
        padding-top: 100px;
        border-radius: 1em;
    }
    div.od > div:not(.professor):before {
        background-size: 1200px auto;
        height: 100px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    div.od .abas:before {
        background-position: 0 -22px;
    }
    div.od .video:before {
        background-position: 0 -158px;
    }
    div.od .lacunas:before {
        background-position: 0 -292px;
    }
    div.od .infografico:before {
        background-position: 0 -427px;
    }
    div.od .slideShow:before {
        background-position: 0 -962px;
    }
    div.od .arrastar:before,
    div.od .ordenar:before {
        height: 100px !important;
        background-position: 0 -560px;
    }
    div.od .quiz:before {
        background-position: 0 -695px;
    }
    div.od .relacionaveis:before {
        background-position: 0 -830px;
    }
    #od1, #od2, #od3, #od4, #od5, #od6, #od7 {
      width: 100%;
      height: auto;
      }
      .od .infografico .areaInfografico ul li a {
          background-color: white;
          border-radius: 0.5em;
          line-height: 0.5em;
          padding: 0.25em 0.5em;
          color: #F26522;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          font-size: 0.6em;
      }
      .od .infografico .areaInfografico ul li .tooltip {
          position: absolute;
          z-index: 2;
          padding: 1em;
          min-width: 150%;
          border-radius: 1em;
          background-color: rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          text-align: left;
          color: white;
          font-size: 0.7em;
          display: none;
      }
}
