/******

Folha de estilo: Ajustes para dispositivos com até 640px de largura;

Cliente: SAE Digital;

*******/

@media only screen and (max-width: 40em) {
    body.ef1 blockquote .tituloQuote {
        font-size: 0.8em;
    }
    body.ef1 blockquote.conversaVai h1.tituloQuote, body.ef1 blockquote.conversaVem h1.tituloQuote {
        top: 0.5em;
    }
    body.ef1 blockquote .tituloQuote span.inner {
        border-radius: 1em;
        padding-right: 1em;
    }
    body.ef1 blockquote .tituloQuote .detalhe {
        display: none;
    }
    /**** Alinhamentos e Tamanhos ****/
    .alinhaEsquerda,
    .alinhaDireita {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    /**** Texto, títulos e listas ****/
    p {
        font-size: 0.8em;
        line-height: 1.25em;
        /*text-indent: 1.4em;*/
    }
    h1 {
        font-size: 1.2em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1em;
    }
    h4 {
        font-size: .8em;
    }
    .colunas {
        -webkit-column-count: 1 !important;
        -moz-column-count: 1 !important;
        column-count: 1 !important;
    }
    table tr td.cabecalho p {
        font-size: 0.8em;
    }
    table tr td p {
        font-size: 0.7em;
    }
    /**** Imagens e Objetos ****/
    .maxMetade,
    .maxQuarto,
    .maxTresQuartos {
        max-width: 100% !important;
    }
    figure.alinhaEsquerda,
    figure.alinhaDireita {
        text-align: center;
    }
    figure.alinhaEsquerda figcaption,
    figure.alinhaDireita figcaption {
        text-align: left;
    }
    /**** Blockquote ****/
    blockquote {
        margin: 3.4em 0 1.4em !important;
    }
    blockquote.maxMetade,
    blockquote.maxQuarto,
    blockquote.maxTresQuartos, .w10, .w20, .w30, .w40, .w50, .w60, .w70, .w80, .w90, .w100 {
        /*padding: 0.5em 1em !important;*/
        max-width: 100% !important;
    }
    body.ef2 blockquote.boxCinza h1.tituloQuote {
        padding: 1em 0px 2.7em 3.5em;
    }
    body.ef2 blockquote.boxCinza h1.tituloQuote span.inner:before {
        top: 0px;
    }
    body.ef2 blockquote.box h1.tituloQuote {
        background-size: 450px;
        background-repeat: no-repeat;
        height: 39px;
        width: 450px;
    }
    body.ef2 blockquote.box h1.tituloQuote span.inner {
        font-size: 0.7em;
        top: -0.3em;
        line-height: 2em;
        left: 90px;
    }
    blockquote .tituloQuote {
        top: -3em;
    }
    body.ef2 blockquote.boxCinza:before {
        height: 80px;
    }
    body.ef2 blockquote.boxCinza h1.tituloQuote , body.ef2 blockquote.boxCinza h1.tituloQuote span.inner:before {
        top: -5px;
    }
    body.ef2 blockquote.boxCinza h1.tituloQuote span.inner:before {
        top: 5px;
        left: 5px;
    }
    blockquote.maxMetade .tituloQuote,
    blockquote.maxQuarto .tituloQuote,
    blockquote.maxTresQuartos .tituloQuote {
        top: -1.8em;
    }
    /**** Cabeçalho ****/
    header p.abertura {
        width: 90%;
        padding: 0 5%;
        font-size: 0.8em;
    }
    /**** Formatação dos blocos principais ****/
    figure.imagemPrincipal {
        height: 16em;
    }
    figure.imagemPrincipal figcaption {
        /*width: 90%;*/
        padding: 2em 5% 1em;
        font-size: 0.8em;
    }
    figure.imagemPrincipal figcaption p.textoCredito {
        font-size: 0.5em;
    }
    main {
        width: 90%;
    }
    /**** Professor ****/
    a.professor {
        float: none;
        display: table;
        margin: 1em auto 1.4em;
    }
    .janelaProfessor .janelaProfessor-content {
        max-height: 80%;
        padding: 1.8em 1.5em 1.5em;
        min-width: 30%;
        max-width: 68%;
        margin: 0 5%;
    }
    .janelaProfessor .janelaProfessor-content:after {
        left: -6px;
        padding: 0.5em 1em;
        -webkit-border-bottom-right-radius: 1em;
        -moz-border-radius-bottomright: 1em;
        border-bottom-right-radius: 1em;
        font-size: 0.8em;
        line-height: 1em;
    }
    .janelaProfessor .janelaProfessor-close-icon {
        top: 1.5%;
        right: 1.5%;
        line-height: 25px;
        width: 25px;
        font-size: 1.4em;
    }

    div.rankEstrela button#botao1{
        border: none;
        background-color: transparent;
        width: 2em;
        height: 2em;
        padding: 0;
        background-image: url(../image/estrela_vazia_rover.png);
        background-repeat: no-repeat;
        outline: none;
        background-size: contain;
    }
    div.rankEstrela button#botao2{
        border: none;
        background-color: transparent;
        width: 2em;
        height: 2em;
        padding: 0;
        background-image: url(../image/estrela_vazia_rover.png);
        background-repeat: no-repeat;
        outline: none;
        background-size: contain;
    }
    div.rankEstrela button#botao3{
        border: none;
        background-color: transparent;
        width: 2em;
        height: 2em;
        padding: 0;
        background-image: url(../image/estrela_vazia_rover.png);
        background-repeat: no-repeat;
        outline: none;
        background-size: contain;
    }
    div.rankEstrela button#botao4{
        border: none;
        background-color: transparent;
        width: 2em;
        height: 2em;
        padding: 0;
        background-image: url(../image/estrela_vazia_rover.png);
        background-repeat: no-repeat;
        outline: none;
        background-size: contain;
    }
    div.rankEstrela button#botao5{
        border: none;
        background-color: transparent;
        width: 2em;
        height: 2em;
        padding: 0;
        background-image: url(../image/estrela_vazia_rover.png);
        background-repeat: no-repeat;
        outline: none;
        background-size: contain;
    }


    /** ODs **/
    .od .arrastar .areaArraste ul {
        font-size: 0.6em;
        line-height: 1em;
    }
    .od .arrastar .areaArraste ul.areaPegar li.texto {
        padding: 0.15em 0.4em;
    }
    .od .lacunas .container p,
    .od .relacionaveis .container p {
        line-height: 1.6em;
    }
    .od .relacionaveis ul.col {
        display: block;
        width: 100%;
        margin: 1em auto 1.4em;
    }
    div.od > div:not(.professor) {
        padding-top: 60px;
        border-radius: 1em;
    }
    div.od > div:not(.professor):before {
        background-size: 650px auto;
        height: 60px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    div.od .abas:before {
        background-position: 0 -10px;
    }
    div.od .video:before {
        background-position: 0 -82px;
    }
    div.od .lacunas:before {
        background-position: 0 -160px;
    }
    div.od .infografico:before {
        background-size: 800px auto !important;
        background-position: 0 -288px;
    }
    div.od .arrastar:before, div.od .ordenar:before, div.od .linhaTempo {
        height: 60px !important;
        background-size: 650px auto !important;
    }
    div.od .quiz:before {
        background-size: 800px auto !important;
        background-position: 0 -464px;
    }
    div.od .relacionaveis:before {
        background-position: 0 -445px;
    }
    div.od .slideShow:before {
        background-position: 0 -520px;
    }
    div.od .ordenar:before {
        background-position: 0 -300px;
    }
    div.od .panorama:before {
        background-position: 0 -660px;
    }
    div.od .linhaTempo:before {
        height: 60px;
        background-position: 0 -590px;
         border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    div.od .arrastar:before {
        background-position: 0 -300px;
        width: 
    }
    #od1, #od2, #od3, #od4, #od5, #od6, #od7 {
      width: 100%;
      height: auto;
  }
  .od .infografico .areaInfografico ul li a {
    background-color: white;
    border-radius: 0.5em;
    line-height: 0.5em;
    padding: 0.25em 0.5em;
    color: #F26522;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 0.6em;
}
.od .infografico .areaInfografico ul li .tooltip {
    position: absolute;
    z-index: 2;
    padding: 1em;
    min-width: 150%;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    color: white;
    font-size: 0.7em;
    display: none;
}

/* geral */
.textoReferencia{
    overflow: hidden;
}

.slide_fim:after, .slide_fim_ingles:after, .slide_fim_espanhol:after {
    width: 70px;
    height: 40px;
    left: calc(50% - 35px);
    top: 5%;
}

.slide_fim:before, .slide_fim_ingles:before, .slide_fim_espanhol:before{
   font-size: 1.4em;
}

}
