:root {
	/* CORES */
	--primario: #3d1133;
	--primario-rgb: 60, 17, 50;
	--secundario: #17aca7;
	
	/* FRENTE B */
	--primario-b: var(--primario-rgb);
	--secundario-b: #c80a72;
		
	/* FRENTE C */
	--primario-c: var(--primario-rgb);
	--secundario-c: #39ac54;
}

body.extensivo header, body.extensivo .blocoHeader {
	background-color: #3b1032;
}


/***************************************************************** ODs ***************************************************************/
.objetoDigital{
	background-color: rgba(59,16,50,0.64);
}
.janelaProfessorExtensivo .janelaProfessorExtensivo-content h2{
color:#24aaa2;
}
.telaMenu #od_tit {
	background-color: rgba(36,170,162,0.85);
	}
/***********************************************************************************/


body.extensivo main h2{
	color: #3b1032;
}
body.extensivo main blockquote.disciplinaExt{
	background-color: #A57F9D;
}
body.extensivo.fa main h3{
	color: #24aaa2;
}

body.extensivo.fa main h4{
	color: #24aaa2;
}

body.extensivo.fa main p span.numeracao{
	color: #24aaa2;
}


body.extensivo.fa main blockquote.fixar{
	background: radial-gradient(circle closest-side, 
		hsla(  0, 80%, 80%, 0) 0%, 
		hsla(  0, 80%, 80%, 0) 70%, 
		#24aaa2 70.5%,
		#24aaa2 70.6%,
		hsla(  0, 80%, 80%, 0) 70.7%,
		hsla(  0, 80%, 80%, 0) 80%,
		#24aaa2 80.5%,
		#24aaa2 80.6%,
		hsla(  0, 80%, 80%, 0) 80.7%,
		hsla(  0, 80%, 80%, 0) 90%,
		#24aaa2 90.5%,
		#24aaa2 90.6%,
		hsla(  0, 80%, 80%, 0) 90.7%,
		hsla(  0, 80%, 80%, 0) 100%,
		#24aaa2 100.5%,
		#24aaa2 100.6%,
		hsla(  0, 80%, 80%, 0) 100.7%,
		hsla(  0, 80%, 80%, 0) 110%,
		#24aaa2 110.5%,
		#24aaa2 110.6%,
		hsla(  0, 80%, 80%, 0) 110.7%,
		hsla(  0, 80%, 80%, 0) 120%,
		#24aaa2 120.5%,
		#24aaa2 120.6%,
		hsla(  0, 80%, 80%, 0) 120.7%,
		hsla(  0, 80%, 80%, 0) 130%,
		#24aaa2 130.5%,
		#24aaa2 130.6%,
		hsla(  0, 80%, 80%, 0) 130.7%,
		hsla(  0, 80%, 80%, 0) 140%,
		#24aaa2 140.5%,
		#24aaa2 140.6%,
		hsla(  0, 80%, 80%, 0) 140.7%,
		hsla(  0, 80%, 80%, 0) 150%,
		#24aaa2 150.5%,
		#24aaa2 150.6%,
		hsla(  0, 80%, 80%, 0) 150.7%,
		hsla(  0, 80%, 80%, 0) 160%



		)
	;
	background-color: #3b1032;
}



body.extensivo.fa main h1.fixarTitulo{
	color: #24aaa2;
}


body.extensivo.fa .corUm{
	fill:#24aaa2;
}

.corDois{
	stroke:#3b1032;stroke-linecap:round;stroke-width:2px;
}

blockquote.boxFixar{
	background-image: radial-gradient(#C8C8C8 20%, #fff 20%);
	border: 3px solid #3b1032;
}

body.extensivo.fa blockquote.boxFixar p.textoBullet{
	color: #3b1032;
}

body.extensivo.fa main blockquote.fio{
	border: 3px solid #24aaa2;
}

body.extensivo.fa main blockquote.fixar h4.exInteracao{
	background-color: #24aaa2;
}

body.extensivo.fa main blockquote.fixar p.alternativaLetra span{
	color: #24aaa2;
}
body.extensivo.fa blockquote.boxFixar p.fixarDois{
	color: #24aaa2;
}
body.extensivo.fa blockquote.boxFixar p.fixarTres{
	color: #24aaa2;
}



body.extensivo.fa blockquote.boxFixar p.textoBullet{
	color: #3b1032;
}





body.extensivo.fa main p.alternativaLetra span{
	color:#24aaa2;
}



body.extensivo.fa main label > span.check {
	border: 2px solid #24aaa2;
}

body.extensivo.fa main label > input[type="radio"]:checked + .check:before {
	background-color: #24aaa2;
}



body.extensivo.fa main button.gabarito {
	background-color: #24aaa2;
	box-shadow: 0 9px #228983;
}

body.extensivo.fa main button.gabarito:not(:active):hover{
	background-color: #18837D;
	box-shadow: 0 9px #136F69;
}





body.extensivo.fa main button.gabarito:active{
	background-color: #08756E;
	box-shadow: 0 3px #03534E;
	transform: translateY(4px);

}



body.extensivo.fa main blockquote.pontuacao{
	border: 3px solid #3b1032;
}
body.extensivo.fa main blockquote.pontuacao p{
	color: #3b1032;
}



body.extensivo.fa main blockquote.pontuacao p.tituloResposta{
	color: #24aaa2;
}

body.extensivo main p.textoLegenda{
	border-top: 2px solid #3b1032;
}

body.extensivo main blockquote.fundoCor{
	background-color: #3b1032;
}

body.extensivo main blockquote.fundoCor blockquote.fio{
	background-color: #3b1032;
}

body.extensivo main blockquote.fixar p span.destaqueFixar{
	background-color: #7C4C72;
}


/*********************Frente B*****************************************/




body.extensivo.fb main h3{
	color: #c5006e;
}

body.extensivo.fb main h4{
	color: #c5006e;
}

body.extensivo.fb main p span.numeracao{
	color: #c5006e;
}
body.extensivo.fb main blockquote.fixar{
	background: radial-gradient(circle closest-side, 
		hsla(  0, 80%, 80%, 0) 0%, 
		hsla(  0, 80%, 80%, 0) 70%, 
		#c5006e 70.5%,
		#c5006e 70.6%,
		hsla(  0, 80%, 80%, 0) 70.7%,
		hsla(  0, 80%, 80%, 0) 80%,
		#c5006e 80.5%,
		#c5006e 80.6%,
		hsla(  0, 80%, 80%, 0) 80.7%,
		hsla(  0, 80%, 80%, 0) 90%,
		#c5006e 90.5%,
		#c5006e 90.6%,
		hsla(  0, 80%, 80%, 0) 90.7%,
		hsla(  0, 80%, 80%, 0) 100%,
		#c5006e 100.5%,
		#c5006e 100.6%,
		hsla(  0, 80%, 80%, 0) 100.7%,
		hsla(  0, 80%, 80%, 0) 110%,
		#c5006e 110.5%,
		#c5006e 110.6%,
		hsla(  0, 80%, 80%, 0) 110.7%,
		hsla(  0, 80%, 80%, 0) 120%,
		#c5006e 120.5%,
		#c5006e 120.6%,
		hsla(  0, 80%, 80%, 0) 120.7%,
		hsla(  0, 80%, 80%, 0) 130%,
		#c5006e 130.5%,
		#c5006e 130.6%,
		hsla(  0, 80%, 80%, 0) 130.7%,
		hsla(  0, 80%, 80%, 0) 140%,
		#c5006e 140.5%,
		#c5006e 140.6%,
		hsla(  0, 80%, 80%, 0) 140.7%,
		hsla(  0, 80%, 80%, 0) 150%,
		#c5006e 150.5%,
		#c5006e 150.6%,
		hsla(  0, 80%, 80%, 0) 150.7%,
		hsla(  0, 80%, 80%, 0) 160%



		)
	;
	background-color: #3b1032;
}
body.extensivo.fb main h1.fixarTitulo{
	color: #c5006e;
}
body.extensivo.fb .corUm{
	fill:#c5006e;
}
body.extensivo.fb main blockquote.fio{
	border: 3px solid #c5006e;
}

body.extensivo.fb main blockquote.fixar h4.exInteracao{
	background-color: #c5006e;
}

body.extensivo.fb main blockquote.fixar p.alternativaLetra span{
	color: #c5006e;
}
body.extensivo.fb main p.alternativaLetra span{
	color:#c5006e;
}
body.extensivo.fb main label > span.check {
	border: 2px solid #c5006e;
}

body.extensivo.fb main label > input[type="radio"]:checked + .check:before {
	background-color: #c5006e;
}
body.extensivo.fb main button.gabarito {
	background-color: #c5006e;
	box-shadow: 0 9px #86034C;
}

body.extensivo.fb main button.gabarito:not(:active):hover{
	background-color: #8B1A59;
	box-shadow: 0 9px #671141;
}
body.extensivo.fb main button.gabarito:active{
	background-color: #7A0C49;
	box-shadow: 0 3px #560231;
	transform: translateY(4px);

}
body.extensivo.fb main blockquote.pagina:before {
	height: 37px;
	top: 70%;
	background: linear-gradient(-135deg, #c5006e 17.5px, transparent 0) 0 17.5px, linear-gradient(135deg, #c5006e 17.5px, transparent 0) 0 17.5px;
	background-position: top left;
	background-repeat: repeat-x;
	background-size: 25px 25px;
	z-index: 2;
}

body.extensivo.fb main blockquote.pontuacao p.tituloResposta{
	color: #c5006e;
}



/**************************Frente C****************************************/

body.extensivo.fc main h3{
	color: #41a950;
}

body.extensivo.fc main h4{
	color: #41a950;
}

body.extensivo.fc main p span.numeracao{
	color: #41a950;
}
body.extensivo.fc main blockquote.fixar{
	background: radial-gradient(circle closest-side, 
		hsla(  0, 80%, 80%, 0) 0%, 
		hsla(  0, 80%, 80%, 0) 70%, 
		#41a950 70.5%,
		#41a950 70.6%,
		hsla(  0, 80%, 80%, 0) 70.7%,
		hsla(  0, 80%, 80%, 0) 80%,
		#41a950 80.5%,
		#41a950 80.6%,
		hsla(  0, 80%, 80%, 0) 80.7%,
		hsla(  0, 80%, 80%, 0) 90%,
		#41a950 90.5%,
		#41a950 90.6%,
		hsla(  0, 80%, 80%, 0) 90.7%,
		hsla(  0, 80%, 80%, 0) 100%,
		#41a950 100.5%,
		#41a950 100.6%,
		hsla(  0, 80%, 80%, 0) 100.7%,
		hsla(  0, 80%, 80%, 0) 110%,
		#41a950 110.5%,
		#41a950 110.6%,
		hsla(  0, 80%, 80%, 0) 110.7%,
		hsla(  0, 80%, 80%, 0) 120%,
		#41a950 120.5%,
		#41a950 120.6%,
		hsla(  0, 80%, 80%, 0) 120.7%,
		hsla(  0, 80%, 80%, 0) 130%,
		#41a950 130.5%,
		#41a950 130.6%,
		hsla(  0, 80%, 80%, 0) 130.7%,
		hsla(  0, 80%, 80%, 0) 140%,
		#41a950 140.5%,
		#41a950 140.6%,
		hsla(  0, 80%, 80%, 0) 140.7%,
		hsla(  0, 80%, 80%, 0) 150%,
		#41a950 150.5%,
		#41a950 150.6%,
		hsla(  0, 80%, 80%, 0) 150.7%,
		hsla(  0, 80%, 80%, 0) 160%



		)
	;
	background-color: #3b1032;
}
body.extensivo.fc main h1.fixarTitulo{
	color: #41a950;
}
body.extensivo.fc .corUm{
	fill:#41a950;
}
body.extensivo.fc main blockquote.fio{
	border: 3px solid #41a950;
}

body.extensivo.fc main blockquote.fixar h4.exInteracao{
	background-color: #41a950;
}

body.extensivo.fc main blockquote.fixar p.alternativaLetra span{
	color: #41a950;
}
body.extensivo.fc main p.alternativaLetra span{
	color:#41a950;
}
body.extensivo.fc main label > span.check {
	border: 2px solid #41a950;
}

body.extensivo.fc main label > input[type="radio"]:checked + .check:before {
	background-color: #41a950;
}
body.extensivo.fc main button.gabarito {
	background-color: #41a950;
	box-shadow: 0 9px #378D43;
}

body.extensivo.fc main button.gabarito:not(:active):hover{
	background-color: #1C982E;
	box-shadow: 0 9px #157D24;
}
body.extensivo.fc main button.gabarito:active{
	background-color: #146E21;
	box-shadow: 0 3px #0B5116;
	transform: translateY(4px);

}
body.extensivo.fc main blockquote.pagina:before {
	height: 37px;
	top: 70%;
	background: linear-gradient(-135deg, #41a950 17.5px, transparent 0) 0 17.5px, linear-gradient(135deg, #41a950 17.5px, transparent 0) 0 17.5px;
	background-position: top left;
	background-repeat: repeat-x;
	background-size: 25px 25px;
	z-index: 2;
}
body.extensivo.fc main blockquote.pontuacao p.tituloResposta{
	color: #41a950;
}

body.extensivo .textoRA .fundoRA {
	fill: #3d1133
}

body.extensivo blockquote.pontilhadoExt{
	border: 3px solid #3d1133;
	border-style: dotted;
	border-radius: 2em;
}