/******

Folha de estilo: História;
Nível de ensino: EF2;

Cliente: SAE Digital;

*******/

/**** Texto, títulos e listas ****/

h1, .enunciadoNumero .numeracao,
.nivelUm .numeracao,
.nivelDois .numeracao,
.tituloExSol .numeracao,
.textoExSol .numeracao,
p.enunciadoNumero .layout_bold_disciplina,
p.enunciadoNumero .segunda_cor,
.alternativaLetra span, .textoLegenda, .destaque2, 
.textoCitado, .textoReferenciaCor  {
    color: #94752f;
}
h2 {
    color: #94752f;
}
h3 {
    color: #a78c51;
}
h4 {
    color: #bca678;
}

/**** Tabelas ****/

table {
    background-color: #dbc180;
}
.cabecalho {
    background-color: #dbc180;
    width: 25%;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px){
    td:before { 
        background-color: #dbc180;
    }
}

/**** Cabeçalho ****/

header {
    background: #cca848;
	color: #FFF;
}
body.ef2 header::after {
    background-position: -5px -509px;
}

/**** Blocos da disciplina ****/

.disciplina {
    background-color: #f1dbde;
}

.nesteCapitulo {
    background-color: #cca848;
}
body.ef2 blockquote.pagina {
    border-color: #cca848 #cca848 transparent #cca848; /* CSS disciplina */
}
body.ef2 blockquote.fio {
    border: 3px solid #cca848;
}

/** OD Abas **/

.od .abas,
.od .abas:before,
.od .abas:after {
    background-color: #e9d8a9;
}
.od .abas > ul > li > a {
    background-color: #b99600;
    color: white;
}
.od .abas > ul > li > a.active,
.od .abas > ul > li > a:hover {
	background-color: white;
    color: #b99600;
}

    /* Input texto */

input[type="text"]{
    color: #b99600;
    background-color: #f9f9f9;
    border: 2px solid #b99600;
}

label > span.check {
        border: 2px solid #b99600;
    }

       .featherlight .featherlight-content {
    border-left: 15px solid #b99600;
}