/******

Folha de estilo: Inglês;
Nível de ensino: EF2;

Cliente: SAE Digital;

*******/

/**** Texto, títulos e listas ****/

h1, .enunciadoNumero .numeracao,
.nivelUm .numeracao,
.nivelDois .numeracao,
.tituloExSol .numeracao,
.textoExSol .numeracao,
p.enunciadoNumero .layout_bold_disciplina,
p.enunciadoNumero .segunda_cor,
.alternativaLetra span, .textoLegenda, .destaque2, 
.textoCitado, .textoReferenciaCor {
    color: #005d8d;
}
h2 {
    color: #005d8d;
}
h3 {
    color: #0076a1;
}
h4 {
    color: #5193b7;
}

/**** Tabelas ****/

table {
    background-color: #3badd0;
}
.cabecalho {
    background-color: #3badd0;
    width: 25%;
}

/**** Cabeçalho ****/

header {
    background: #008ebf;
	color: #FFF;
}
body.ef2 header::after {
    background-position: -5px -581px;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px){
    td:before { 
        background-color: #008ebf;
    }
}

/**** Blocos da disciplina ****/

.disciplina {
    background-color: #fde5d2;
}

.nesteCapitulo {
    background-color: #008ebf;
}
body.ef2 blockquote.pagina {
    border-color: #008ebf #008ebf transparent #008ebf; /* CSS disciplina */
}
body.ef2 blockquote.fio {
    border: 3px solid #008ebf;
}

/** OD Abas **/

.od .abas,
.od .abas:before,
.od .abas:after {
    background-color: #fad3bd;
}
.od .abas > ul > li > a {
    background-color: #ec7648;
    color: white;
}
.od .abas > ul > li > a.active,
.od .abas > ul > li > a:hover {
	background-color: white;
    color: #ec7648;
}

    /* Input texto */

input[type="text"]{
    color: #ec7648;
    background-color: #f9f9f9;
    border: 2px solid #ec7648;
}

label > span.check {
        border: 2px solid #ec7648;
    }

           .featherlight .featherlight-content {
    border-left: 15px solid #ec7648;
}