/******

Folha de estilo: Ciências;
Nível de ensino: EF1;

Cliente: SAE Digital;

*******/


/**** Texto, títulos e listas ****/

h1 {
    color: #227330;
}
h1 span.numeroCapitulo{
    padding: 15px 35px 10px 35px;
    border-radius: 0.8em;
    display: inline-block;
    background-color: #227330;
    font: 90pt Folktale, light;
    color: #FFF;
    font-size: 70pt;
    line-height: 1.3em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em; 
}
h2,
.destaque2,
.textoCitado,
.textoReferenciaCor {
    color: #227330;
}
h3 {
    color: #319a5a;
}
h4 {
    color: #9dcc96;
}

.numeracao,
.alternativaLetra span {
    color: #319a5a!important;
}
/**** Imagens ****/

body.ef1 figure img {
    border-color: #75852F;
}
figure:not(.imagemPrincipal) p.textoLegenda {
    color: #A9B745;
}

/**** Tabelas ****/

table {
    /*background-color: #A9B644;*/
}
tr:nth-child(odd) {
    background-color: #e5f1e2;
}
tr:nth-child(even) {
    background-color: #cfe0cd;
}
.cabecalho {
    background-color: #84b689;
}

/**** Cabeçalho ****/

header {
    background-color: #319a59;
}

/**** Blocos da disciplina ****/

body.ef1 blockquote.aprenderBrincando, body.ef1 blockquote.calculadora,
body.ef1 blockquote.conhecaQuem, body.ef1 blockquote.conhecaQuem2, body.ef1 blockquote.conversaVaiVem,
body.ef1 blockquote.deOlhoLocal, body.ef1 blockquote.emGrupo, body.ef1 blockquote.entenderTexto,
body.ef1 blockquote.euCientista, body.ef1 blockquote.generoTextual, body.ef1 blockquote.glossario,
body.ef1 blockquote.iconeAR, body.ef1 blockquote.iconeRA, body.ef1 blockquote.lupanaMao,
body.ef1 blockquote.maonaMassa, body.ef1 blockquote.olharGeografico,
body.ef1 blockquote.oralidade, body.ef1 blockquote.saberMais, body.ef1 blockquote.tremdaHistoria,
body.ef1 blockquote.valeaPena, body.ef1 blockquote.vamosProduzir, body.ef1 blockquote.vocejaSabe, body.ef1 blockquote.fio {
    border-color: #319a59;
}

body.ef1 blockquote.vocejaSabe2{
    border-color: #319a59;
}

@media
only screen and (max-width: 740px){
    body.ef1 blockquote.vocejaSabe2:after{
        background-position: 0px -263px;
    }
}

@media
only screen and (min-width: 740px) and (max-width: 1024px){
    body.ef1 blockquote.vocejaSabe2:after{
        background-position: -620px -380px;
    }
}

@media
only screen and (min-width: 1024px) and (max-width: 1920px){
    body.ef1 blockquote.vocejaSabe2:after{
        background-position: 0px -445px;
    }
}


body.ef1 blockquote.conversaVaiVem > .tituloQuote:after {
    width: 100px;
    height: 100px;
    background-position: 0 -100px;
}
body.ef1 blockquote span.inner {
	background: #319a59; /* CSS disciplina */
}
body.ef1 blockquote span.detalhe {
    border-color: #319a59 transparent #319a59 #319a59; /* CSS disciplina */
}
body.ef1 blockquote.pagina {
    border-color: #319a59 #319a59 transparent #319a59; /* CSS disciplina */
}
body.ef1 blockquote.disciplina, body.ef1 blockquote.glossario, body.ef1 blockquote.valeaPena, body.ef1 blockquote.saberMais {
	background: #edf5eb;
    border: none;
}
body.ef1 blockquote.conversaVai {
    background: #78b180;
}
body.ef1 blockquote.conversaVem{
    background-color: #db6368;
}
body.ef1 blockquote.conversaVem:before {
    background-position: -5px -617px;
}
body.ef1 blockquote.conversaVai span.inner {
	color: #e84254;
}
body.ef1 blockquote.conversaVem span.inner {
	color:  #319a59;
}
body.ef1 blockquote.conversaVai .tituloQuote:after {
    width: 100px;
    height: 100px;
    background-position: -400px -500px;
}

body.ef1 blockquote.conversaVem .tituloQuote:after {
    width: 100px;
    height: 100px;
    background-position: -500px -500px;
}

/** OD Abas **/

.od .abas {
    background-color: #e4e8ca;
    border-color: #75852F;
}
.od .abas > ul > li > a {
    background-color: #e4e8ca;
    color: #75852F;
}
.od .abas > ul > li.active > a {
    color: #A9B745;
}
.od .abas > ul > li > a:hover {
    background-color: #A9B745;
    color: white;
}
/** Box para saber mais **/
body.ef1 blockquote.saberMaisbox {
	background: #e9eadd;
}
/* Alternativa Box */
label > span.check {
    border: 2px solid #319a59;
}

/* Input texto */

input[type="text"]{
    color: #227330;
    background-color: #f9f9f9;
    border: 2px solid #227330;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px){
    td:before { 
        background-color: #84b689;
    }
}

.featherlight .featherlight-content {
    border-left: 15px solid #227330;
}

/***** Fichas de Atividade ****/
.numeroFicha::before{
    color: #227330;
}
blockquote.numeroFicha p{
    background-color: #e84254;
}
blockquote.aberturaFicha{
    background-color: #227330;
    box-shadow: 5px 6px  #15461D;
}
p.tituloUni{
}
p.tituloCap{
    background-color: #84b689;
}
span.numeroCapituloFicha{
    background-color: #e84254;
}