/******

Folha de estilo: Matemática;
Nível de ensino: EF1;

Cliente: SAE Digital;

*******/


/**** Texto, títulos e listas ****/

h1 {
    color: #c73c0b;
}
h1 span.numeroCapitulo{
    padding: 15px 35px 10px 35px;
    border-radius: 0.8em;
    display: inline-block;
    background-color: #c73c0b;
    font: 90pt Folktale, light;
    color: #FFF;
    font-size: 70pt;
    line-height: 1.3em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em; 
}
h2,
.destaque2,
.textoCitado,
.textoReferenciaCor {
    color: #c73c0b;
}
h3 {
    color: #e8532a;
}
h4 {
    color: #f3965f;
}

.numeracao,
.alternativaLetra span {
    color: #e8532a!important;
}
/**** Imagens ****/

body.ef1 figure img {
    border-color: #C46D33;
}
figure:not(.imagemPrincipal) p.textoLegenda {
    color: #E34A18;
}

/**** Tabelas ****/

table {
    /*background-color: #E34A18;*/
}
tr:nth-child(odd) {
    background-color: #fde2d0;
}
tr:nth-child(even) {
    background-color: #fbd2bd;
}
.cabecalho {
    background-color: #f18d64;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px){
    td:before { 
        background-color: #f18d64;
    }
}

/**** Cabeçalho ****/

header {
    background-color: #e8532a;
}

/**** Blocos da disciplina ****/

.disciplina,
.disciplina:before,
.disciplina:after {
    background-color: #E7D5C9;
}
body.ef1 blockquote.disciplina {
    border-color: #F0CDB4;
}
body.ef1 blockquote.aprenderBrincando, body.ef1 blockquote.calculadora,
body.ef1 blockquote.conhecaQuem, body.ef1 blockquote.conhecaQuem2, body.ef1 blockquote.conversaVaiVem,
body.ef1 blockquote.deOlhoLocal, body.ef1 blockquote.emGrupo, body.ef1 blockquote.entenderTexto,
body.ef1 blockquote.euCientista, body.ef1 blockquote.generoTextual, body.ef1 blockquote.glossario,
body.ef1 blockquote.iconeAR, body.ef1 blockquote.iconeRA, body.ef1 blockquote.lupanaMao,
body.ef1 blockquote.maonaMassa, body.ef1 blockquote.olharGeografico,
body.ef1 blockquote.oralidade, body.ef1 blockquote.saberMais, body.ef1 blockquote.tremdaHistoria,
body.ef1 blockquote.valeaPena, body.ef1 blockquote.vamosProduzir, body.ef1 blockquote.vocejaSabe, body.ef1 blockquote.fio {
    border-color: #e8532a;
}

body.ef1 blockquote.vocejaSabe2{
border-color: #e8532a;
}

@media
only screen and (max-width: 740px){
    body.ef1 blockquote.vocejaSabe2:after{
        background-position: 0px -135px;
    }
}

@media
only screen and (min-width: 740px) and (max-width: 1024px){
    body.ef1 blockquote.vocejaSabe2:after{
        background-position: 0px -201px;
    }
}

@media
only screen and (min-width: 1024px) and (max-width: 1920px){
    body.ef1 blockquote.vocejaSabe2:after{
        background-position: 0 -222px;
    }
}




body.ef1 blockquote.conversaVaiVem > .tituloQuote:after {
    width: 100px;
    height: 100px;
    background-position: -100px -200px;
}
body.ef1 blockquote span.inner {
	background: #e8532a; /* CSS disciplina */
}
body.ef1 blockquote span.detalhe {
    border-color: #e8532a transparent #e8532a #e8532a; /* CSS disciplina */
}
body.ef1 blockquote.pagina {
    border-color: #e8532a #e8532a transparent #e8532a; /* CSS disciplina */
}
body.ef1 blockquote.disciplina, body.ef1 blockquote.glossario, body.ef1 blockquote.valeaPena, body.ef1 blockquote.saberMais {
	background: #fde1d3;
    border: none;
}

body.ef1 blockquote.conversaVai .tituloQuote:after {
    width: 100px;
    height: 100px;
    background-position: -200px -500px;
}
body.ef1 blockquote.conversaVem {
    background: #279cbb;
}
body.ef1 blockquote.conversaVai{
    background-color: #f0845a;
}
body.ef1 blockquote.conversaVem:before {
    background-position: -450px -5px;
}
body.ef1 blockquote.conversaVai span.inner {
	color:#0094bb;
}
body.ef1 blockquote.conversaVem span.inner {
	color: #e8532a;
}
body.ef1 blockquote.conversaVem .tituloQuote:after {
    width: 100px;
    height: 100px;
    background-position: -300px -500px;
}

/** OD Abas **/

.od .abas {
    background-color: #E7D5C9;
    border-color: #C46D33;
}
.od .abas > ul > li > a {
    background-color: #E7D5C9;
    color: #C46D33;
}
.od .abas > ul > li.active > a {
    color: #E34A18;
}
.od .abas > ul > li > a:hover {
    background-color: #C46D33;
    color: white;
}
/** Box para saber mais **/
body.ef1 blockquote.saberMaisbox {
	background: #f9e4d7;
}
/* Alternativa Box */
label > span.check {
        border: 2px solid #e8532a;
    }

    /* Input texto */

input[type="text"]{
    color: #e8532a;
    background-color: #f9f9f9;
    border: 2px solid #e8532a;
}

.featherlight .featherlight-content {
    border-left: 15px solid #e8532a;
}
/***** Fichas de Atividade ****/
.numeroFicha::before{
    color: #e8532a;
}
blockquote.numeroFicha p{
    background-color: #e84254;
}
blockquote.aberturaFicha{
    background-color: #0094bb;
    box-shadow: 5px 6px  #993418;
}
p.tituloUni{
}
p.tituloCap{
    background-color: #f0845a;
}
span.numeroCapituloFicha{
    background-color: #0094bb;
}