/******

Folha de estilo: Artes;
Nível de ensino: EF1;
Cliente: SAE Digital;

*******/

/****** Cores

Cor 1 #c02180
Cor 2 #ec6ea6
Cor 3 #940866
Cor 4 #0e897f

*****/
/**** Texto, títulos e listas ****/

h1 {
    color: #940866;
}
h1 span.numeroCapitulo{
    padding: 15px 35px 10px 35px;
    border-radius: 0.8em;
    display: inline-block;
    background-color: #940866;
    font: 90pt Folktale, light;
    color: #FFF;
    font-size: 70pt;
    line-height: 1.3em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em; 
}
h2,
.destaque2,
.textoCitado,
.textoReferenciaCor {
    color: #940866;
}
h3 {
    color: #c02180;
}
h4 {
    color: #ec6ea6;
}


.numeracao,
.alternativaLetra span {
    color: #c02180!important;
}

/**** Imagens ****/

body.ef1 figure img {
    border-color: #BE2779;
}
figure:not(.imagemPrincipal) p.textoLegenda {
    color: #BC6995;
}

/**** Tabelas ****/

table {
    /*background-color: #BE2779;*/
}
tr:nth-child(odd) {
    background-color: #fadaea;
}
tr:nth-child(even) {
    background-color: #ebc6de;
}
.cabecalho {
    background-color: #d170a7;
}

/**** Cabeçalho ****/

header {
	background-color: #c12280;
}
header .unidade {
	background: #3a938a;
}
.numeroUnidade {
	color: #b5b700;
}
header .capitulo {
    background-position: -676px -5px;
}
header .nomeCapitulo  {
	background: #c12280;
}

/**** Blocos da disciplina ****/

.disciplina,
.disciplina:before,
.disciplina:after {
    background-color: #F3DCE7;
}
body.ef1 blockquote.disciplina {
    border-color: #BE2779;
}
body.ef1 blockquote.aprenderBrincando, body.ef1 blockquote.calculadora,
body.ef1 blockquote.conhecaQuem, body.ef1 blockquote.conhecaQuem2, body.ef1 blockquote.conversaVaiVem,
body.ef1 blockquote.deOlhoLocal, body.ef1 blockquote.emGrupo, body.ef1 blockquote.entenderTexto,
body.ef1 blockquote.euCientista, body.ef1 blockquote.generoTextual, body.ef1 blockquote.glossario,
body.ef1 blockquote.iconeAR, body.ef1 blockquote.iconeRA, body.ef1 blockquote.lupanaMao,
body.ef1 blockquote.maonaMassa, body.ef1 blockquote.olharGeografico,
body.ef1 blockquote.oralidade, body.ef1 blockquote.saberMais, body.ef1 blockquote.tremdaHistoria,
body.ef1 blockquote.valeaPena, body.ef1 blockquote.vamosProduzir, body.ef1 blockquote.vocejaSabe, body.ef1 blockquote.fio {
    border-color: #c02180;
}
body.ef1 blockquote.conversaVaiVem > .tituloQuote:after {
    width: 100px;
    height: 100px;
    background-position: -400px 0;
}
body.ef1 blockquote span.inner {
	background: #c02180; /* CSS disciplina */
}
body.ef1 blockquote span.detalhe {
    border-color: #c02180 transparent #c02180 #c02180; /* CSS disciplina */
}

body.ef1 blockquote.pagina {
    border-color: #c02180 #c02180 transparent #c02180; /* CSS disciplina */
}
body.ef1 blockquote.disciplina, body.ef1 blockquote.glossario, body.ef1 blockquote.valeaPena, body.ef1 blockquote.saberMais {
	background: #f1daea;
    border: none;
}
body.ef1 blockquote.conversaVai {
    background: #4a928b;
}
body.ef1 blockquote.conversaVem {
    background-color: #cf64a0;
}
body.ef1 blockquote.conversaVem:before {
    background-position: -5px -5px;
}
body.ef1 blockquote.conversaVai span.inner {
	color: #c02180;
}
body.ef1 blockquote.conversaVem span.inner {
	color: #0e897f;
}
body.ef1 blockquote.conversaVai .tituloQuote:after {
    width: 100px;
    height: 100px;
    background-position: 0 -500px;
}
body.ef1 blockquote.conversaVem .tituloQuote:after {
    width: 100px;
    height: 100px;
    background-position: -100px -500px;
}
/** OD Abas **/

.od .abas {
    background-color: #F3DCE7;
    border-color: #BE2779;
}
.od .abas > ul > li > a {
    background-color: #F3DCE7;
    color: #BC6995;
}
.od .abas > ul > li.active > a {
    color: #BE2779;
}
.od .abas > ul > li > a:hover {
    background-color: #BE2779;
    color: white;
}
/** Box para saber mais **/
body.ef1 blockquote.saberMaisbox {
	background: #f3e0ea;
}
/* Alternativa Box */
label > span.check {
        border: 2px solid #c02180;
    }
