/******

Folha de estilo: Educação Física;
Nível de ensino: EF1;

Cliente: SAE Digital;

*******/


/**** Texto, títulos e listas ****/

h1 {
    color: #6f5ba1;
}
h1 span.numeroCapitulo{
    padding: 15px 35px 10px 35px;
    border-radius: 0.8em;
    display: inline-block;
    background-color: #6f5ba1;
    font: 90pt Folktale, light;
    color: #FFF;
    font-size: 70pt;
    line-height: 1.3em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em; 
}
h2,
.destaque2,
.textoCitado,
.textoReferenciaCor {
    color: #6f5ba1;
}
h3 {
    color: #3d3753;
}
h4 {
    color: #8197a2;
}


.numeracao,
.alternativaLetra span {
    color: #3d3753!important;
}
/**** Imagens ****/

body.ef1 figure img {
    border-color: #6fb448;
}
figure:not(.imagemPrincipal) p.textoLegenda {
    color: #3d3753;
}

/**** Tabelas ****/

table {
    /*background-color: #d7def2;*/
}
tr:nth-child(odd) {
    background-color: #d7def2;
}
tr:nth-child(even) {
    background-color: #d7def2;
}
.cabecalho {
    background-color: #3d3753;
}

/**** Cabeçalho ****/

header {
    background-color: #3d3753;
}

/**** Blocos da disciplina ****/

body.ef1 blockquote.aprenderBrincando, body.ef1 blockquote.calculadora,
body.ef1 blockquote.conhecaQuem, body.ef1 blockquote.conhecaQuem2, body.ef1 blockquote.conversaVaiVem,
body.ef1 blockquote.deOlhoLocal, body.ef1 blockquote.emGrupo, body.ef1 blockquote.entenderTexto,
body.ef1 blockquote.euCientista, body.ef1 blockquote.generoTextual, body.ef1 blockquote.glossario,
body.ef1 blockquote.iconeAR, body.ef1 blockquote.iconeRA, body.ef1 blockquote.lupanaMao,
body.ef1 blockquote.maonaMassa, body.ef1 blockquote.olharGeografico,
body.ef1 blockquote.oralidade, body.ef1 blockquote.saberMais, body.ef1 blockquote.tremdaHistoria,
body.ef1 blockquote.valeaPena, body.ef1 blockquote.vamosProduzir, body.ef1 blockquote.vocejaSabe, body.ef1 blockquote.fio {
    border-color: #3d3753;
}
body.ef1 blockquote.conversaVaiVem > .tituloQuote:after {
    width: 100px;
    height: 100px;
    background-position: 0 -100px;
}
body.ef1 blockquote span.inner {
	background: #3d3753; /* CSS disciplina */
}
body.ef1 blockquote span.detalhe {
    border-color: #3d3753 transparent #3d3753 #3d3753; /* CSS disciplina */
}
body.ef1 blockquote.pagina {
    border-color: #3d3753 #3d3753 transparent #3d3753; /* CSS disciplina */
}
body.ef1 blockquote.disciplina, body.ef1 blockquote.glossario, body.ef1 blockquote.valeaPena, body.ef1 blockquote.saberMais {
	background: #d7def2;
    border: none;
}
body.ef1 blockquote.conversaVai {
    background: #3d3753;
}
body.ef1 blockquote.conversaVem{
    background-color: #3d3753;
}

body.ef1 blockquote.conversaVai span.inner {
	color: #3d3753;
}
body.ef1 blockquote.conversaVem span.inner {
	color:  #3d3753;
}


/** OD Abas **/

.od .abas,
.od .abas:before,
.od .abas:after {
    background-color: #f480ab;
}
.od .abas > ul > li > a {
    background-color: #b9557a;
    color: white;
}
.od .abas > ul > li > a.active,
.od .abas > ul > li > a:hover {
    background-color: white;
    color: #b9557a;
}
/** Box para saber mais **/
body.ef1 blockquote.saberMaisbox {
	background: #d7def2;
}
/* Alternativa Box */
label > span.check {
        border: 2px solid #3d3753;
    }