/******

Folha de estilo: Filosofia;
Nível de ensino: EF1;

Cliente: SAE Digital;

*******/


/**** Texto, títulos e listas ****/

h1 {
    color: #15838c;
}
h1 span.numeroCapitulo{
    padding: 15px 35px 10px 35px;
    border-radius: 0.8em;
    display: inline-block;
    background-color: #15838c;
    font: 90pt Folktale, light;
    color: #FFF;
    font-size: 70pt;
    line-height: 1.3em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em; 
}
h2,
.destaque2,
.textoCitado,
.textoReferenciaCor {
    color: #15838c;
}
h3 {
    color: #60b3ad;
}
h4 {
    color: #c0e0cd;
}

.numeracao,
.alternativaLetra span {
    color: #60b3ad!important;
}

/**** Imagens ****/

body.ef1 figure img {
    border-color: #81A9B3;
}
figure:not(.imagemPrincipal) p.textoLegenda {
    color: #81A9B3;
}

/**** Tabelas ****/

table {
    /*background-color: #A5D7D4;*/
}
tr:nth-child(odd) {
    background-color: #edf6f1;
}
tr:nth-child(even) {
    background-color: #d5e8e7;
}
.cabecalho {
    background-color: #98cac6;
}

/**** Cabeçalho ****/

header {
    background-color: #60b3ad;
}

/**** Blocos da disciplina ****/

.disciplina,
.disciplina:before,
.disciplina:after {
    background-color: #e9f6f6;
}
body.ef1 blockquote.disciplina {
    border-color: #A5D7D4;
}
body.ef1 blockquote.aprenderBrincando, body.ef1 blockquote.calculadora,
body.ef1 blockquote.conhecaQuem, body.ef1 blockquote.conhecaQuem2, body.ef1 blockquote.conversaVaiVem,
body.ef1 blockquote.deOlhoLocal, body.ef1 blockquote.emGrupo, body.ef1 blockquote.entenderTexto,
body.ef1 blockquote.euCientista, body.ef1 blockquote.generoTextual, body.ef1 blockquote.glossario,
body.ef1 blockquote.iconeAR, body.ef1 blockquote.iconeRA, body.ef1 blockquote.lupanaMao,
body.ef1 blockquote.maonaMassa, body.ef1 blockquote.olharGeografico,
body.ef1 blockquote.oralidade, body.ef1 blockquote.saberMais, body.ef1 blockquote.tremdaHistoria,
body.ef1 blockquote.valeaPena, body.ef1 blockquote.vamosProduzir, body.ef1 blockquote.vocejaSabe, body.ef1 blockquote.fio {
    border-color: #60b3ad;
}
body.ef1 blockquote.conversaVaiVem > .tituloQuote:after {
    width: 100px;
    height: 100px;
    background-position: -200px -100px;
}
body.ef1 blockquote span.inner {
	background: #60b3ad; /* CSS disciplina */
}
body.ef1 blockquote span.detalhe {
    border-color: #60b3ad transparent #60b3ad #60b3ad; /* CSS disciplina */
}
body.ef1 blockquote.pagina {
    border-color: #60b3ad #60b3ad transparent #60b3ad; /* CSS disciplina */
}
body.ef1 blockquote.disciplina, body.ef1 blockquote.glossario, body.ef1 blockquote.valeaPena, body.ef1 blockquote.saberMais {
	background: #e3f0f0;
    border: none;
}
body.ef1 blockquote.conversaVai {
    background: #8fc6c2;
}
body.ef1 blockquote.conversaVem{
    background-color: #f3a2b4;
}
body.ef1 blockquote.conversaVem:before {
    background-position: -0px -615px;
}
body.ef1 blockquote.conversaVai span.inner {
	color: #f086a0;
}
body.ef1 blockquote.conversaVem span.inner {
	color: #60b3ad;
}
body.ef1 blockquote.conversaVai .tituloQuote:after {
    width: 100px;
    height: 100px;
    background-position: -200px -600px;
}

body.ef1 blockquote.conversaVem .tituloQuote:after {
    width: 100px;
    height: 100px;
    background-position: -300px -600px;
}

/** OD Abas **/

.od .abas {
    background-color: #e9f6f6;
    border-color: #A5D7D4;
}
.od .abas > ul > li > a {
    background-color: #e9f6f6;
    color: #A5D7D4;
}
.od .abas > ul > li.active > a {
    color: #81A9B3;
}
.od .abas > ul > li > a:hover {
    background-color: #81A9B3;
    color: white;
}
/** Box para saber mais **/
body.ef1 blockquote.saberMaisbox {
	background: #ecf2f4;
}
/* Alternativa Box */
label > span.check {
        border: 2px solid #60b3ad;
    }