:root {
	--header-1: #cb324e;
	--header-2: #111217;
	
	--circulo-disciplina: Biologia;
	--circulo-1: #00788d;
	--circulo-2: #221555;
	--header-linha: #662483;
}

body.medio header{
	background: linear-gradient(to left, #cb324e, #111217); 
}

body.medio header:before{
	background-position: -2150px -910px;
}



/***********************************************************************************/

body.medio blockquote.blocoMod p.sequenciaMod{
	background-color: #d90e32;
}
body.medio blockquote.blocoMod p.sequenciaMod span.detalhe{
	border-color: transparent transparent transparent #d90e32;
}

body.medio blockquote.blocoTitulo div.linhaPonto{
	background-color: #662483;
}
body.medio blockquote.blocoTitulo div.linhaPonto:before{
	color: #662483;
}

body.medio main h2{
	color: #d90e32;
}

body.medio main h3{
	color: #f18500;
}

body.medio main h4{
	color: #f18500;
}

body.medio main h5{
	color: #f18500;
}

body.medio main blockquote.citadoMed{
	border-radius: 2em;
	border: 2px solid #662483;
	background-color: #cdbadc;
}

body.medio main p span.numeracao{
	color: #d90e32;
}

body.medio main blockquote.disciplinaMed{
	background-color: #f5c4ba;
}

body.medio main blockquote.fio{
	border: 3px solid #f18500;
}

body.medio main h4.espanholEmeioAmbiente, body.medio main h4.espanholEsociedade, body.medio .emFechamento{
	color: #f18500;
}

.emFechamento > strong {
	color: #d90e32;
}

body.medio main p.alternativaLetra span{
	color: #d90e32;
}


body.medio main p.alternativaLetra span{
	color:#d90e32;
}



body.medio main label > span.check {
	border: 2px solid #d90e32;
}

body.medio main label > input[type="radio"]:checked + .check:before {
	background-color:#d90e32;
}



body.medio main td.cabecalho {
	background-color: #d90e32;
}
body.medio main td {
	background-color:  #f5c4ba;
}
/*
body.medio main button.gabarito {
	background-color: #f18500;
	box-shadow: 0 9px #539B0A;
}

body.medio main button.gabarito:not(:active):hover{
	background-color: #59921F;
	box-shadow: 0 9px #4E7229;
}





body.medio main button.gabarito:active{
	background-color: #43780D;
	box-shadow: 0 3px #326004;
	transform: translateY(4px);

}



body.medio main blockquote.pontuacao{
	border: 3px solid  #f18500;
}
body.medio main blockquote.pontuacao p{
	color:  #f18500;
	}*/


	body.medio main p.paginacao{
		padding-left: 2em;
		padding-right: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 15px;
		font-family: 'Orbitron';
		font-weight: bold;
		color: white;
		background-color:  #f18500;
		border-radius: 0 2em 2em 0;
		vertical-align: middle;
	}
	body.medio main blockquote.pagina{
		padding: 0;
		border: 2px solid  #f18500;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		clear: both;
		float: right;
	}


	body.medio main blockquote.pontuacao p.tituloResposta{
		color: #f18500;
	}

	body.medio main p.textoLegenda{
		border-top: 2px solid  #f18500;
	}

	body.medio main blockquote.fundoCor{
		background-color:  #f18500;
	}

	body.medio main blockquote.fundoCor blockquote.fio{
		background-color:  #f18500;
	}

	body.medio blockquote.pontilhadoMed{
	border: 3px solid #f18500;
	border-style: dotted;
	border-radius: 2em;
}

	