:root {
	--header-1: #2b3162;
	--header-2: #24293e;
	
	--circulo-disciplina: Geografia;
	--circulo-1: #1f2967;
	--circulo-2: #23b9ce;
	--header-linha: #73b958;
}


body.medio header{
	background: linear-gradient(to left, #2b3162, #24293e); 
}

body.medio header:before{
	background-position: -2150px -480px;
}



/***********************************************************************************/

body.medio blockquote.blocoMod p.sequenciaMod{
	background-color: #2ab9ce;
}
body.medio blockquote.blocoMod p.sequenciaMod span.detalhe{
	border-color: transparent transparent transparent #2ab9ce;
}

body.medio blockquote.blocoTitulo div.linhaPonto{
	background-color: #73b958;
}
body.medio blockquote.blocoTitulo div.linhaPonto:before{
	color: #73b958;
}

body.medio main h2{
	color: #2ab9ce;
}

body.medio main h3{
	color: #202967;
}

body.medio main h4{
	color: #202967;
}

body.medio main h5{
	color: #202967;
}

body.medio main blockquote.citadoMed{
	border-radius: 2em;
	border: 2px solid #73b958;
	background-color: #AFCBA4;
}

body.medio main p span.numeracao{
	color: #2ab9ce;
}

body.medio main blockquote.disciplinaMed{
	background-color: #d2ebf2;
}

body.medio main blockquote.fio{
	border: 3px solid #202967;
}

body.medio main h4.geografiaEmeioAmbiente, body.medio main h4.geografiaEsociedade, body.medio .emFechamento{
	color: #202967;
}

.emFechamento > strong {
	color: #2ab9ce;
}

body.medio main p.alternativaLetra span{
	color: #2ab9ce;
}


body.medio main p.alternativaLetra span{
	color:#2ab9ce;
}



body.medio main label > span.check {
	border: 2px solid #2ab9ce;
}

body.medio main label > input[type="radio"]:checked + .check:before {
	background-color:#2ab9ce;
}



body.medio main td.cabecalho {
	background-color: #2ab9ce;
}
body.medio main td {
	background-color:  #B1E2E9;
}
/*
body.medio main button.gabarito {
	background-color: #202967;
	box-shadow: 0 9px #539B0A;
}

body.medio main button.gabarito:not(:active):hover{
	background-color: #59921F;
	box-shadow: 0 9px #4E7229;
}





body.medio main button.gabarito:active{
	background-color: #43780D;
	box-shadow: 0 3px #326004;
	transform: translateY(4px);

}



body.medio main blockquote.pontuacao{
	border: 3px solid #202967;
}
body.medio main blockquote.pontuacao p{
	color: #202967;
	}*/


	body.medio main p.paginacao{
		padding-left: 2em;
		padding-right: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 15px;
		font-family: 'Orbitron';
		font-weight: bold;
		color: white;
		background-color: #202967;
		border-radius: 0 2em 2em 0;
		vertical-align: middle;
	}
	body.medio main blockquote.pagina{
		padding: 0;
		border: 2px solid #202967;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		clear: both;
		float: right;
	}


	body.medio main blockquote.pontuacao p.tituloResposta{
		color: #202967;
	}

	body.medio main p.textoLegenda{
		border-top: 2px solid #202967;
	}

	body.medio main blockquote.fundoCor{
		background-color: #202967;
	}

	body.medio main blockquote.fundoCor blockquote.fio{
		background-color: #202967;
	}

	body.medio blockquote.pontilhadoMed{
	border: 3px solid #202967;
	border-style: dotted;
	border-radius: 2em;
}

	