:root {
	--header-1: #269fb7;
	--header-2: #040406;
	
	--circulo-disciplina: História;
	--circulo-1: #5dc4e1;
	--circulo-2: #643c90;
	--header-linha: #ca5098;
}


body.medio header{
	background: linear-gradient(to left, #269fb7, #040406); 
}

body.medio header:before{
	background-position: -1630px -480px;
}



/***********************************************************************************/

body.medio blockquote.blocoMod p.sequenciaMod{
	background-color: #653c90;
}
body.medio blockquote.blocoMod p.sequenciaMod span.detalhe{
	border-color: transparent transparent transparent #653c90;
}

body.medio blockquote.blocoTitulo div.linhaPonto{
	background-color: #ca5098;
}
body.medio blockquote.blocoTitulo div.linhaPonto:before{
	color: #ca5098;
}

body.medio main h2{
	color: #653c90;
}

body.medio main h3{
	color: #5fc4e1;
}

body.medio main h4{
	color: #5fc4e1;
}

body.medio main h5{
	color: #5fc4e1;
}

body.medio main blockquote.citadoMed{
	border-radius: 2em;
	border: 2px solid #ca5098;
	background-color: #eed1e6;
}

body.medio main p span.numeracao{
	color: #653c90;
}

body.medio main blockquote.disciplinaMed{
	background-color: #cdc2e1;
}

body.medio main blockquote.fio{
	border: 3px solid #5fc4e1;
}

body.medio main h4.historiaEmeioAmbiente, body.medio main h4.historiaEsociedade, body.medio .emFechamento{
	color: #5fc4e1;
}

.emFechamento > strong {
	color: #653c90;
}

body.medio main p.alternativaLetra span{
	color: #653c90;
}


body.medio main p.alternativaLetra span{
	color:#653c90;
}



body.medio main label > span.check {
	border: 2px solid #653c90;
}

body.medio main label > input[type="radio"]:checked + .check:before {
	background-color:#653c90;
}



body.medio main td.cabecalho {
	background-color: #653c90;
}
body.medio main td {
	background-color:  #cdc2e1;
}
/*
body.medio main button.gabarito {
	background-color: #5fc4e1;
	box-shadow: 0 9px #539B0A;
}

body.medio main button.gabarito:not(:active):hover{
	background-color: #59921F;
	box-shadow: 0 9px #4E7229;
}





body.medio main button.gabarito:active{
	background-color: #43780D;
	box-shadow: 0 3px #326004;
	transform: translateY(4px);

}



body.medio main blockquote.pontuacao{
	border: 3px solid #5fc4e1;
}
body.medio main blockquote.pontuacao p{
	color: #5fc4e1;
	}*/


	body.medio main p.paginacao{
		padding-left: 2em;
		padding-right: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 15px;
		font-family: 'Orbitron';
		font-weight: bold;
		color: white;
		background-color: #5fc4e1;
		border-radius: 0 2em 2em 0;
		vertical-align: middle;
	}
	body.medio main blockquote.pagina{
		padding: 0;
		border: 2px solid #5fc4e1;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		clear: both;
		float: right;
	}


	body.medio main blockquote.pontuacao p.tituloResposta{
		color: #5fc4e1;
	}

	body.medio main p.textoLegenda{
		border-top: 2px solid #5fc4e1;
	}

	body.medio main blockquote.fundoCor{
		background-color: #5fc4e1;
	}

	body.medio main blockquote.fundoCor blockquote.fio{
		background-color: #5fc4e1;
	}

	body.medio blockquote.pontilhadoMed{
	border: 3px solid #5fc4e1;
	border-style: dotted;
	border-radius: 2em;
}

	