:root {
	--header-1: #9e344c;
	--header-2: #100f12;
	
	--circulo-disciplina: Inglês;
	--circulo-1: #005682;
	--circulo-2: #9f0145;
	--header-linha: #d05320;
}


body.medio header{
	background: linear-gradient(to left, #9e344c, #100f12); 
}

body.medio header:before{
	background-position: -1630px -60px;
}



/***********************************************************************************/

body.medio blockquote.blocoMod p.sequenciaMod{
	background-color: #9f0245;
}
body.medio blockquote.blocoMod p.sequenciaMod span.detalhe{
	border-color: transparent transparent transparent #9f0245;
}

body.medio blockquote.blocoTitulo div.linhaPonto{
	background-color: #d05320;
}
body.medio blockquote.blocoTitulo div.linhaPonto:before{
	color: #d05320;
}

body.medio main h2{
	color: #9f0245;
}

body.medio main h3{
	color: #005681;
}

body.medio main h4{
	color: #005681;
}

body.medio main h5{
	color: #005681;
}

body.medio main blockquote.citadoMed{
	border-radius: 2em;
	border: 2px solid #d05320;
	background-color: #f3cdb6;
}

body.medio main p span.numeracao{
	color: #9f0245;
}

body.medio main blockquote.disciplinaMed{
	background-color: #fadcc4;
}

body.medio main blockquote.fio{
	border: 3px solid #005681;
}


body.medio main h4.inglesEmeioAmbiente, body.medio main h4.inglesEsociedade, body.medio .emFechamento{
	color: #005681;
}

.emFechamento > strong {
	color: #9f0245;
}

body.medio main p.alternativaLetra span{
	color: #9f0245;
}


body.medio main p.alternativaLetra span{
	color:#9f0245;
}



body.medio main label > span.check {
	border: 2px solid #9f0245;
}

body.medio main label > input[type="radio"]:checked + .check:before {
	background-color:#9f0245;
}



body.medio main td.cabecalho {
	background-color: #9f0245;
}
body.medio main td {
	background-color:  #fadcc4;
}
/*
body.medio main button.gabarito {
	background-color: #005681;
	box-shadow: 0 9px #539B0A;
}

body.medio main button.gabarito:not(:active):hover{
	background-color: #59921F;
	box-shadow: 0 9px #4E7229;
}





body.medio main button.gabarito:active{
	background-color: #43780D;
	box-shadow: 0 3px #326004;
	transform: translateY(4px);

}



body.medio main blockquote.pontuacao{
	border: 3px solid #005681;
}
body.medio main blockquote.pontuacao p{
	color: #005681;
	}*/


	body.medio main p.paginacao{
		padding-left: 2em;
		padding-right: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 15px;
		font-family: 'Orbitron';
		font-weight: bold;
		color: white;
		background-color: #005681;
		border-radius: 0 2em 2em 0;
		vertical-align: middle;
	}
	body.medio main blockquote.pagina{
		padding: 0;
		border: 2px solid #005681;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		clear: both;
		float: right;
	}


	body.medio main blockquote.pontuacao p.tituloResposta{
		color: #005681;
	}

	body.medio main p.textoLegenda{
		border-top: 2px solid #005681;
	}

	body.medio main blockquote.fundoCor{
		background-color: #005681;
	}

	body.medio main blockquote.fundoCor blockquote.fio{
		background-color: #005681;
	}

	body.medio blockquote.pontilhadoMed{
	border: 3px solid #005681;
	border-style: dotted;
	border-radius: 2em;
}

	