:root {
	--header-1: #26889b;
	--header-2: #0c1115;
	
	--circulo-disciplina: Literatura;
	--circulo-1: #00a6d0;
	--circulo-2: #d40074;
	--header-linha: #f0ab22;
}


body.medio header{
	background: linear-gradient(to left, #26889b, #0c1115); 
}

body.medio header:before{
	background-position: -1100px -60px;
}



/***********************************************************************************/

body.medio blockquote.blocoMod p.sequenciaMod{
	background-color: #d40074;
}
body.medio blockquote.blocoMod p.sequenciaMod span.detalhe{
	border-color: transparent transparent transparent #d40074;
}

body.medio blockquote.blocoTitulo div.linhaPonto{
	background-color: #f0ab22;
}
body.medio blockquote.blocoTitulo div.linhaPonto:before{
	color: #f0ab22;
}

body.medio main h2{
	color: #d40074;
}

body.medio main h3{
	color: #00a6d0;
}

body.medio main h4{
	color: #00a6d0;
}

body.medio main h5{
	color: #00a6d0;
}

body.medio main blockquote.citadoMed{
	border-radius: 2em;
	border: 2px solid #d40074;
}

body.medio main p span.numeracao{
	color: #d40074;
}

body.medio main blockquote.disciplinaMed{
	background-color: #f2c4da;
}

body.medio main blockquote.fio{
	border: 3px solid #00a6d0;
}

body.medio main h4.literaturaEmeioAmbiente, body.medio main h4.literaturaEsociedade, body.medio .emFechamento{
	color: #00a6d0;
}

.emFechamento > strong {
	color: #d40074;
}

body.medio main p.alternativaLetra span{
	color: #d40074;
}


body.medio main p.alternativaLetra span{
	color:#d40074;
}



body.medio main label > span.check {
	border: 2px solid #d40074;
}

body.medio main label > input[type="radio"]:checked + .check:before {
	background-color:#d40074;
}



body.medio main td.cabecalho {
	background-color: #d40074;
}
body.medio main td {
	background-color:  #f2c4da;
}
/*
body.medio main button.gabarito {
	background-color: #00a6d0;
	box-shadow: 0 9px #539B0A;
}

body.medio main button.gabarito:not(:active):hover{
	background-color: #59921F;
	box-shadow: 0 9px #4E7229;
}





body.medio main button.gabarito:active{
	background-color: #43780D;
	box-shadow: 0 3px #326004;
	transform: translateY(4px);

}



body.medio main blockquote.pontuacao{
	border: 3px solid #00a6d0;
}
body.medio main blockquote.pontuacao p{
	color: #00a6d0;
	}*/


	body.medio main p.paginacao{
		padding-left: 2em;
		padding-right: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 15px;
		font-family: 'Orbitron';
		font-weight: bold;
		color: white;
		background-color: #00a6d0;
		border-radius: 0 2em 2em 0;
		vertical-align: middle;
	}
	body.medio main blockquote.pagina{
		padding: 0;
		border: 2px solid #00a6d0;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		clear: both;
		float: right;
	}


	body.medio main blockquote.pontuacao p.tituloResposta{
		color: #00a6d0;
	}

	body.medio main p.textoLegenda{
		border-top: 2px solid #00a6d0;
	}

	body.medio main blockquote.fundoCor{
		background-color: #00a6d0;
	}

	body.medio main blockquote.fundoCor blockquote.fio{
		background-color: #00a6d0;
	}

	body.medio blockquote.pontilhadoMed{
	border: 3px solid #00a6d0;
	border-style: dotted;
	border-radius: 2em;
}

	