:root {
	--header-1: #561b43;
	--header-2: #1f1f29;
	
	--circulo-disciplina: Matemática;
	--circulo-1: #421a4b;
	--circulo-2: #c80a72;
	--header-linha: #00adba;
}


body.medio header{
	background: linear-gradient(to left, #561b43, #1f1f29); 
}

body.medio header:before{
	background-position: -2150px -60px;
}



/***********************************************************************************/

body.medio blockquote.blocoMod p.sequenciaMod{
	background-color: #c80a72;
}
body.medio blockquote.blocoMod p.sequenciaMod span.detalhe{
	border-color: transparent transparent transparent #c80a72;
}

body.medio blockquote.blocoTitulo div.linhaPonto{
	background-color: #00adba;
}
body.medio blockquote.blocoTitulo div.linhaPonto:before{
	color: #00adba;
}

body.medio main h2{
	color: #c80a72;
}

body.medio main h3{
	color: #421b4b;
}

body.medio main h4{
	color: #421b4b;
}

body.medio main h5{
	color: #421b4b;
}

body.medio main blockquote.citadoMed{
	border-radius: 2em;
	border: 2px solid #c80a72;
	background-color: #cde8ec;
}

body.medio main p span.numeracao{
	color: #c80a72;
}

body.medio main blockquote.disciplinaMed{
	background-color: #edc4d7;
}

body.medio main blockquote.fio{
	border: 3px solid #421b4b;
}

body.medio main h4.matematicaEmeioAmbiente, body.medio main h4.matematicaEsociedade, body.medio .emFechamento{
	color: #c80a72;
}

.emFechamento > strong {
	color: #421b4b;
}

body.medio main p.alternativaLetra span{
	color: #c80a72;
}


body.medio main p.alternativaLetra span{
	color:#c80a72;
}



body.medio main label > span.check {
	border: 2px solid #c80a72;
}

body.medio main label > input[type="radio"]:checked + .check:before {
	background-color:#c80a72;
}



body.medio main td.cabecalho {
	background-color: #c80a72;
}
body.medio main td {
	background-color:  #edc4d7;
}
/*
body.medio main button.gabarito {
	background-color: #421b4b;
	box-shadow: 0 9px #539B0A;
}

body.medio main button.gabarito:not(:active):hover{
	background-color: #59921F;
	box-shadow: 0 9px #4E7229;
}





body.medio main button.gabarito:active{
	background-color: #43780D;
	box-shadow: 0 3px #326004;
	transform: translateY(4px);

}



body.medio main blockquote.pontuacao{
	border: 3px solid #421b4b;
}
body.medio main blockquote.pontuacao p{
	color: #421b4b;
	}*/


	body.medio main p.paginacao{
		padding-left: 2em;
		padding-right: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 15px;
		font-family: 'Orbitron';
		font-weight: bold;
		color: white;
		background-color: #421b4b;
		border-radius: 0 2em 2em 0;
		vertical-align: middle;
	}
	body.medio main blockquote.pagina{
		padding: 0;
		border: 2px solid #421b4b;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		clear: both;
		float: right;
	}


	body.medio main blockquote.pontuacao p.tituloResposta{
		color: #421b4b;
	}

	body.medio main p.textoLegenda{
		border-top: 2px solid #421b4b;
	}

	body.medio main blockquote.fundoCor{
		background-color: #421b4b;
	}

	body.medio main blockquote.fundoCor blockquote.fio{
		background-color: #421b4b;
	}

	body.medio blockquote.pontilhadoMed{
	border: 3px solid #421b4b;
	border-style: dotted;
	border-radius: 2em;
}

	