:root {
	--header-1: #549f40;
	--header-2: #0e191a;
	
	--circulo-disciplina: Química;
	--circulo-1: #009cb4;
	--circulo-2: #50af31;
	--header-linha: #009fe3;
}


body.medio header{
	background: linear-gradient(to left, #549f40, #0e191a); 
}

body.medio header:before{
	background-position: -565px -480px;
}



/***********************************************************************************/

body.medio blockquote.blocoMod p.sequenciaMod{
	background-color: #53af32;
}
body.medio blockquote.blocoMod p.sequenciaMod span.detalhe{
	border-color: transparent transparent transparent #53af32;
}

body.medio blockquote.blocoTitulo div.linhaPonto{
	background-color: #009fe3;
}
body.medio blockquote.blocoTitulo div.linhaPonto:before{
	color: #009fe3;
}

body.medio main h2{
	color: #53af32;
}

body.medio main h3{
	color: #009cb4;
}

body.medio main h4{
	color: #009cb4;
}

body.medio main h5{
	color: #009cb4;
}

body.medio main blockquote.citadoMed{
	border-radius: 2em;
	border: 2px solid #dc8b36;
	background-color: #bce4fa;
}

body.medio main p span.numeracao{
	color: #53af32;
}

body.medio main blockquote.disciplinaMed{
	background-color: #d5e7c4;
}

body.medio main blockquote.fio{
	border: 3px solid #009cb4;
}

body.medio main h4.quimicaEmeioAmbiente, body.medio main h4.quimicaEsociedade, body.medio .emFechamento{
	color: #009cb4;
}

.emFechamento > strong {
	color: #53af32;
}

body.medio main p.alternativaLetra span{
	color: #53af32;
}


body.medio main p.alternativaLetra span{
	color:#53af32;
}



body.medio main label > span.check {
	border: 2px solid #53af32;
}

body.medio main label > input[type="radio"]:checked + .check:before {
	background-color:#53af32;
}



body.medio main td.cabecalho {
	background-color: #53af32;
}
body.medio main td {
	background-color:  #d5e7c4;
}
/*
body.medio main button.gabarito {
	background-color: #009cb4;
	box-shadow: 0 9px #539B0A;
}

body.medio main button.gabarito:not(:active):hover{
	background-color: #59921F;
	box-shadow: 0 9px #4E7229;
}





body.medio main button.gabarito:active{
	background-color: #43780D;
	box-shadow: 0 3px #326004;
	transform: translateY(4px);

}



body.medio main blockquote.pontuacao{
	border: 3px solid #009cb4;
}
body.medio main blockquote.pontuacao p{
	color: #009cb4;
	}*/


	body.medio main p.paginacao{
		padding-left: 2em;
		padding-right: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 15px;
		font-family: 'Orbitron';
		font-weight: bold;
		color: white;
		background-color: #009cb4;
		border-radius: 0 2em 2em 0;
		vertical-align: middle;
	}
	body.medio main blockquote.pagina{
		padding: 0;
		border: 2px solid #009cb4;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		clear: both;
		float: right;
	}


	body.medio main blockquote.pontuacao p.tituloResposta{
		color: #009cb4;
	}

	body.medio main p.textoLegenda{
		border-top: 2px solid #009cb4;
	}

	body.medio main blockquote.fundoCor{
		background-color: #009cb4;
	}

	body.medio main blockquote.fundoCor blockquote.fio{
		background-color: #009cb4;
	}

	body.medio blockquote.pontilhadoMed{
	border: 3px solid #009cb4;
	border-style: dotted;
	border-radius: 2em;
}

	