:root {
	--header-1: #15577e;
	--header-2: #15232d;
	
	--circulo-disciplina: Sociologia;
	--circulo-1: #005d86;
	--circulo-2: #f07d00;
	--header-linha: #009ba6;
}


body.medio header{
	background: linear-gradient(to left, #15577e, #15232d); 
}

body.medio header:before{
	background-position: -1100px -910px;
}



/***********************************************************************************/

body.medio blockquote.blocoMod p.sequenciaMod{
	background-color: #ef7d00;
}
body.medio blockquote.blocoMod p.sequenciaMod span.detalhe{
	border-color: transparent transparent transparent #ef7d00;
}

body.medio blockquote.blocoTitulo div.linhaPonto{
	background-color: #009ba6;
}
body.medio blockquote.blocoTitulo div.linhaPonto:before{
	color: #009ba6;
}

body.medio main h2{
	color: #ef7d00;
}

body.medio main h3{
	color: #005c86;
}

body.medio main h4{
	color: #005c86;
}

body.medio main h5{
	color: #005c86;
}

body.medio main blockquote.citadoMed{
	border-radius: 2em;
	border: 2px solid #ef7d00;
	background-color: #c8e3e7;
}

body.medio main p span.numeracao{
	color: #ef7d00;
}

body.medio main blockquote.disciplinaMed{
	background-color: #F3D8BB;
}

body.medio main blockquote.fio{
	border: 3px solid #005c86;
}

body.medio main h4.sociologiaEmeioAmbiente, body.medio main h4.sociologiaEsociedade, body.medio .emFechamento{
	color: #005c86;
}

.emFechamento > strong {
	color: #ef7d00;
}

body.medio main p.alternativaLetra span{
	color: #ef7d00;
}


body.medio main p.alternativaLetra span{
	color:#ef7d00;
}



body.medio main label > span.check {
	border: 2px solid #ef7d00;
}

body.medio main label > input[type="radio"]:checked + .check:before {
	background-color:#ef7d00;
}



body.medio main td.cabecalho {
	background-color: #ef7d00;
}
body.medio main td {
	background-color:  #F3D8BB;
}
/*
body.medio main button.gabarito {
	background-color: #005c86;
	box-shadow: 0 9px #539B0A;
}

body.medio main button.gabarito:not(:active):hover{
	background-color: #59921F;
	box-shadow: 0 9px #4E7229;
}





body.medio main button.gabarito:active{
	background-color: #43780D;
	box-shadow: 0 3px #326004;
	transform: translateY(4px);

}



body.medio main blockquote.pontuacao{
	border: 3px solid #005c86;
}
body.medio main blockquote.pontuacao p{
	color: #005c86;
	}*/


	body.medio main p.paginacao{
		padding-left: 2em;
		padding-right: 3em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 15px;
		font-family: 'Orbitron';
		font-weight: bold;
		color: white;
		background-color: #005c86;
		border-radius: 0 2em 2em 0;
		vertical-align: middle;
	}
	body.medio main blockquote.pagina{
		padding: 0;
		border: 2px solid #005c86;
		border-radius: 5em;
		width: 5em;
		height: 5em;
		clear: both;
		float: right;
	}


	body.medio main blockquote.pontuacao p.tituloResposta{
		color: #005c86;
	}

	body.medio main p.textoLegenda{
		border-top: 2px solid #005c86;
	}

	body.medio main blockquote.fundoCor{
		background-color: #005c86;
	}

	body.medio main blockquote.fundoCor blockquote.fio{
		background-color: #005c86;
	}

	body.medio blockquote.pontilhadoMed{
	border: 3px solid #005c86;
	border-style: dotted;
	border-radius: 2em;
}

	