﻿/*
Theme Name: Grid312
Theme URI: http://pro-g-f.com/themes/html/grid312/
Author: jolithemes
Author URI: http://jolithemes.com/
Description: Professional Blog HTML Template
Tags: blog, magazine, masonry, metro, modern, responsive, squares, template
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

body,
html {
    padding: 0;
    margin: 0;
    background: #141316;
    background-image: repeating-linear-gradient(-45deg, #141316, #141316 5px, #1a191e 5px, #1a191e 10px);
    background-position: 50% 0;
    background-attachment: fixed;
    background-size: 42px 42px;
    color: #a8a8aa;
    font: 400 1vw Montserrat, sans-serif;
    text-transform: uppercase
}

*,
:after,
:before,
a:focus,
button:focus {
    outline: 0
}

a {
    text-decoration: none;
    color: #ff0d3d;
    font-weight: 900
}

a:focus,
a:hover,
a:visited {
    color: #ff0d3d;
    text-decoration: none;
    background: 0 0
}

a img {
    border: 0
}

a i.fa-caret-right {
    margin-left: .5rem;
    font-size: .875rem;
    line-height: 1
}

div {
    position: relative
}

.entry-content li,
p {
    font: 400 1em/1.5 Lato, sans-serif;
    text-transform: none;
    color: #000
}

p {
    margin: 0 0 2.5em
}

article p,
p strong {
    color: #000
}

p strong {
    font-weight: 900
}

article p {
    line-height: 1.6
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
    line-height: 1.2
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    color: #000;
    margin: 0 0 2em;
    padding: 0
}

h2 {
    font-size: 2.25em
}

h3 {
    font-size: 1.875em
}

h4 {
    font-size: 1.5em
}

h5 {
    font-size: 1.125em
}

h6 {
    font-size: 1em
}

.sitemap-wrapper,
.wrapper-content {
    display: flex;
    align-items: stretch
}

.sidebar {
    padding: 0 2.5em
}

.main {
    margin: 0 auto 8.3333em;
    width: 100%;
    max-width: 1600px;
    opacity: 0
}

.main-wrapper {
    width: 100%;
    background: #1a191e
}

.site-content {
    background: #fff;
    width: 100%;
    overflow: hidden
}

div.page,
div.post {
    background: #fff
}

.sidebar {
    width: 20%
}

.clearfix {
    clear: both
}

.breadcrumb {
    position: relative;
    display: inline-block;
    background: 0 0;
    top: -5px;
    padding: 0;
    margin: 0;
    height: 2.5rem;
    font-size: .75em;
    line-height: 2.5rem;
    color: #a8a8aa;
    border-radius: 0
}

.breadcrumb a {
    color: #a8a8aa
}

.breadcrumb a:hover {
    color: #fb0
}

.breadcrumb i {
    margin: 0 1.25rem;
    font-size: .75rem
}

.breadcrumb i:first-of-type {
    margin-left: 0;
    margin-right: 2.5em
}

.entries,
.main-grid,
.texture {
    background: repeating-linear-gradient(-45deg, #fff, #fff 5px, #eee 5px, #eee 10px)
}

.grid {
    overflow: hidden
}

#comments-post,
#main-menu ul li a:before,
.adv a p,
.box .fullsizeWrap:after,
.box:before,
.breadcrumb a,
.cat .name-cat,
.cat .num-cat,
.close,
.entry-content *,
.grid-2 a:before,
.nav a,
.pagination i.fa-caret-left,
.pagination i.fa-caret-right,
.see-all,
.sitemap ul[class*=list] li>a,
.zoom,
a .name-comp:after,
a.social,
a[data-toggle=modal]:after,
a[data-toggle=modal]:before,
article a,
article a * {
    -ms-transition: all .6s cubic-bezier(.19, 1, .22, 1);
    -webkit-transition: all .6s cubic-bezier(.19, 1, .22, 1);
    transition: all .6s cubic-bezier(.19, 1, .22, 1)
}

.nav-gall,
article .tag-links a {
    -ms-transition: background .6s cubic-bezier(.19, 1, .22, 1);
    -webkit-transition: background .6s cubic-bezier(.19, 1, .22, 1);
    transition: background .6s cubic-bezier(.19, 1, .22, 1)
}

article .tag-links a * {
    -ms-transition: none;
    -webkit-transition: none;
    transition: none
}

body.modal-open {
    background-image: none
}

.modal {
    width: 100vw;
    margin: 0;
    padding: 0
}

.modal-content,
.modal-dialog {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    margin: 0;
    width: 100%;
    height: 100%
}

.modal-dialog {
    background-position: 0 0;
    background-size: 2.5em 2.5em
}

#team-modal .modal-dialog {
    background: rgba(255, 255, 255, .8);
    height: 100vh
}

.modal-content {
    display: table;
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 0
}

.modal-body {
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    opacity: 0;
    -ms-transform: scale(.5);
    -webkit-transform: scale(.5);
    transform: scale(.5)
}

#team-modal .modal-body {
    text-align: left;
    opacity: 1;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1)
}

.modal-body .pic {
    display: inline-block;
    width: auto;
    margin: auto;
    padding: .5em
}

.modal-body img {
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: calc(100vh - 2.5em)
}

.modal-footer {
    position: absolute;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .62) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .62) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .62) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .62) 100%);
    width: calc(100% - 1rem);
    height: 33%;
    left: .5rem;
    bottom: .5rem;
    padding: 33% 2.5rem 3rem;
    color: #fff;
    font-size: .875em;
    text-align: left;
    text-transform: none;
    border: 0;
    z-index: 1089
}

.nav-gall,
.zoom,
button.close {
    position: absolute;
    background: 0 0;
    width: 3.75rem;
    height: 3.75rem;
    right: 3.75rem;
    text-align: center;
    font-size: 1.125em;
    line-height: 3.75rem;
    color: #fff;
    opacity: 1;
    z-index: 9999
}

.nav-gall,
.zoom {
    display: block;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 3.75rem;
    cursor: pointer
}

button.close {
    top: 2.5rem;
    text-shadow: 0 0 0;
    z-index: 9999
}

#team-modal button.close {
    top: -5rem;
    right: -5rem;
    color: #000;
    border: 0
}

.zoom {
    top: 2.5rem;
    left: 2.5rem
}

.zoom:before {
    font-family: FontAwesome;
    content: '\f00e'
}

.zoom.zoom-out:before {
    content: '\f010'
}

button.close:hover {
    color: #ffb200;
    opacity: 1
}

.nav-gall:hover,
.zoom:hover {
    color: #000;
    background-color: #ffb200;
    border-color: #ffb200;
    opacity: 1
}

#team-modal button.close:hover {
    color: red;
    background-color: transparent
}

.border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, .1);
    color: #fff;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    z-index: 999
}

.person .border,
a .border {
    height: calc(100% - 2.5em);
    left: 0;
    top: 0;
    width: calc(100% - 2.5em)
}

.pic.border {
    position: relative;
    height: auto;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1)
}

.border:after,
.border:before,
.cbottom,
.ctop {
    position: absolute;
    display: block;
    content: '';
    width: .62em;
    height: .62em;
    border: 2px solid
}

.border:before,
.pic-wrapper:before {
    top: -1px;
    left: -1px;
    border-right: 0;
    border-bottom: 0
}

.border:after,
.pic-wrapper:after {
    right: -1px;
    bottom: -1px;
    border-top: 0;
    border-left: 0
}

.ctop {
    top: -1px;
    right: -1px;
    border-left: 0;
    border-bottom: 0
}

.cbottom {
    left: -1px;
    bottom: -1px;
    border-top: 0;
    border-right: 0
}

#main-header {
    position: relative;
    display: block;
    width: 100%;
    height: 7.5em;
    z-index: 999;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px
}

#header {
    background: #fcb833;
    padding: 2.5em 0;
    height: 7.5em;
    text-align: center;
    z-index: 899
}

.header-icon {
    display: inline;
    border: 0;
    background: 0 0;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1.25rem;
    font-size: 1.125em;
    line-height: 2.5rem;
    text-align: center;
    color: #fff
}

.header-icon.menu {
    margin: 2.5rem
}

.header-icon.menu:before {
    font-family: FontAwesome;
    content: '\f0c9'
}

.header-icon.menu.open {
    color: #000;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

#btn-search {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem
}

.site-description,
.site-title {
    color: #ffffff;
    position: relative;
    display: inline-block;
    height: 2.5rem
}

.site-title,
a.site-title,
h1.site-title {
    position: relative;
    font: 900 2.25em/2.5rem 'Playfair Display', serif;
    color: #fff;
    margin: 0 2.5rem 0 0;
    padding: 0;
    border: 0;
    text-transform: capitalize
}

.site-title span {
    color: #ffb200
}

.site-description {
    top: -.5em;
    padding: 0 2.5em;
    margin: 0;
    font-family: Raleway, sans-serif;
    color: #8a8a8c;
    line-height: 2.5rem;
    text-transform: capitalize;
    border-left: 1px solid rgba(255, 255, 255, .2)
}

#site-search {
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    text-align: left;
    opacity: 0;
    z-index: 898;
    transform-origin: 100% 100% -8em;
    -webkit-transform-origin: 100% 100% -8em;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg)
}

#site-search.open {
    z-index: 999
}

#site-search form {
    position: relative;
    display: inline-block;
    width: calc(100% - 7.5em);
    margin: 2.5em 3em
}

#site-search .close {
    position: absolute;
    background: 0 0;
    top: 2.5rem;
    right: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 1.25rem;
    color: #000;
    border: none
}

#main-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 7.5em;
    height: 100%;
    cursor: pointer;
    z-index: 139
}

.navbar {
    border: 0;
    border-radius: 0
}

.navbar-main {
    display: none
}

.navbar-main.open {
    position: absolute;
    display: block;
    top: 7.5em;
    width: auto;
    text-align: left
}

#main-menu ul {
    position: relative;
    background-color: #fff;
    width: 20.05rem;
    height: 100%;
    margin: 0;
    padding: 2.5em 0;
    z-index: 79
}

#main-menu ul li {
    position: static;
    width: inherit;
    height: auto;
    list-style: none;
    border: 0
}

#main-menu ul li a {
    position: relative;
    display: block;
    padding: .5rem 2.5rem;
    color: #000;
    line-height: 1.2;
    font-size: 1.125em
}

#main-menu .submenu {
    position: absolute;
    display: none;
    top: 0;
    left: 100%
}

#main-menu .submenu {
    background-color: rgba(255, 255, 255, .9)
}

#main-menu .submenu .submenu {
    background-color: rgba(255, 255, 255, .8)
}

#main-menu .submenu li>a {
    font-size: .875rem
}

#main-menu .submenu .submenu li>a {
    font-size: .75rem
}

#main-menu ul li:hover>a {
    background: 0 0
}

#main-menu ul li a:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff0d3d;
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    z-index: -1
}

#main-menu .submenu li>a:before {
    opacity: .8
}

#main-menu .submenu .submenu li>a:before {
    opacity: .6
}

.metro .grids {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0
}

.metro article.grid {
    display: block;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 25%;
    overflow: hidden
}

.blended {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0
}

.adv a {
    background: #fff
}

article.grid.double {
    width: 50%
}

article.grid.double-vertical {
    height: 50%
}

article.grid.triple {
    width: 75%
}

article.grid.triple-vertical {
    height: 75%
}

.entry-header[data-type=background] {
    background-position: 50% 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%
}

body.page .entry-header[data-type=background],
body.post-format-standard .entry-header[data-type=background] {
    position: absolute
}

body.page .entry-header[data-type=background]:after,
body.post-format-standard .entry-header[data-type=background]:after {
    position: absolute;
    content: '';
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .7) 38%, #fff 85%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .7) 38%, #fff 85%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .7) 38%, #fff 85%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .7) 38%, #fff 85%);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: inherit
}

.featured-img img {
    visibility: hidden
}

div.page>.entry-content,
div.post>.entry-content {
    margin-top: 15em;
    padding: 0 0 4em;
    z-index: 91
}

figure {
    position: relative;
    overflow: hidden
}

figcaption {
    position: absolute;
    top: 100%;
    width: 100%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .62) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .62) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .62) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .62) 100%);
    padding: 20% 1.25rem 1.25rem;
    color: #fff;
    font-size: .875em;
    text-transform: none;
    z-index: 98
}

a.popup+figcaption {
    position: absolute;
    visibility: hidden;
    border: 0
}

blockquote {
    border-left: 3px solid rgba(0, 0, 0, .2);
    margin: 4em 0;
    padding: .5em 0 0 2em;
    font-size: 1em;
    color: #000
}

blockquote .signature {
    font-weight: 700
}

blockquote .signature:before {
    position: relative;
    display: block;
    content: '';
    margin: 0 0 .5em 0;
    width: 10px;
    height: 0;
    border-bottom: 1px solid #ff0d3d
}

blockquote p {
    font: italic 1rem/1.61 "Playfair Display", serif;
    color: #000
}

.page section:first-child p,
.post-content>p:first-of-type {
    font: 1.5em/1.5 'Playfair Display', serif
}

.grayscale {
    -webkit-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray
}

.hidden-title {
    display: none
}

#share {
    cursor: pointer;
    z-index: 97
}

#share:hover i {
    border-color: rgba(0, 255, 255, .1)
}

#share-buttons {
    position: absolute;
    left: 0;
    margin: 0;
    width: 2.5em;
    height: auto;
    z-index: 91
}

a.social {
    display: inline-block;
    text-align: center;
    color: rgba(255, 255, 255, .5);
    border: 1px solid
}

#share-buttons a,
.author-social a {
    width: 2.5rem;
    height: 2.5rem;
    color: #000;
    line-height: 2.5rem;
    border-color: rgba(0, 0, 0, .2);
    border-radius: 2.5rem
}

#share-buttons a.social {
    margin-bottom: 1.25rem
}

#share-buttons .social:last-child {
    margin-bottom: 0
}

.author-social a.social {
    margin: 0 1.25rem 0 0
}

#share-buttons a.social:hover,
.author-social a.social:hover {
    color: #fff
}

#share-buttons i,
.author-social i {
    font-size: 1.125em
}

#share-buttons .facebook:hover,
.facebook:hover {
    background-color: #3b5999;
    border-color: #3b5999
}

#share-buttons .twitter:hover,
.twitter:hover {
    background-color: #28a9e1;
    border-color: #28a9e1
}

#share-buttons .google-plus:hover,
.google-plus:hover {
    background-color: #df4b38;
    border-color: #df4b38
}

#share-buttons .linkedin:hover,
.linkedin:hover {
    background-color: #117bb8;
    border-color: #117bb8
}

#share-buttons .pinterest:hover {
    background-color: #d73532;
    border-color: #d73532
}

#share-buttons .stumbleupon:hover {
    background-color: #ea4924;
    border-color: #ea4924
}

#share-buttons .envelope:hover {
    background-color: #2553a4;
    border-color: #2553a4
}

.metro {
    background: #fff
}

.box {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    z-index: 49
}

.box .entry-content {
    width: 100%;
    height: 100%;
    z-index: 59
}

.metro .fullsizeWrap {
    z-index: 0
}

.box:before,
.grid-2 a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 16.66666rem;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .82) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .82) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .82) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .82) 100%);
    z-index: 1
}

.metro .adv a:before,
.metro .cat a:before {
    display: none
}

.cat a {
    color: #fff
}

.blended {
    background-color: red;
    background-blend-mode: multiply
}

.name-cat,
.num-cat {
    position: relative;
    display: block;
    text-align: center;
    font-weight: 700;
    z-index: 11
}

.num-cat {
    font-size: 8em;
    line-height: .8;
    letter-spacing: -.1em;
    margin: 0
}

.cat .num-cat {
    top: 50%;
    margin-top: -4.25rem
}

.name-cat {
    font-size: 1.5em
}

.cat .name-cat {
    top: 100%;
    opacity: 0
}

.see-all {
    position: absolute;
    display: block;
    top: 100%;
    padding-top: 2rem;
    width: calc(100% - 5rem);
    height: .875em;
    font-size: .875em;
    line-height: 1;
    color: #ff0d3d;
    text-align: center;
    border-top: 1px solid rgba(255, 13, 61, .2)
}

.adv .see-all,
.cat .name-cat,
.cat .see-all {
    visibility: hidden
}

.adv .see-all {
    width: 100%
}

.cat .see-all {
    color: #fff;
    border-color: rgba(255, 255, 255, .2)
}

.box-cat {
    position: relative;
    display: inline-block;
    background: rgba(255, 187, 0, .8);
    color: #000;
    padding: 0 1.5em;
    font-size: .75em;
    font-weight: 700;
    line-height: 2.5rem
}

.box-cat:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-top: .5rem solid rgba(255, 187, 0, .8);
    border-right: .5rem solid transparent
}

.main-grid {
    counter-reset: list
}

.grids {
    counter-increment: list
}

.empty-ads,
.empty-cat {
    background: #fff
}

.empty-cat {
    color: #ff0d3d
}

.empty-ads {
    color: #000
}

.empty-ads h6,
.empty-cat h6 {
    position: absolute;
    display: block;
    top: 2.5rem;
    left: 2.5rem;
    padding: .25rem .5rem;
    font-size: .875em
}

.empty-ads h6:before,
.empty-cat h6:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    content: '';
    border-right: .5rem solid transparent;
    border-top: .5rem solid
}

.empty-ads:after,
.empty-cat:after {
    position: absolute;
    right: 2.5rem;
    bottom: 2.5rem;
    content: counter(list, decimal-leading-zero);
    font-size: 4.5em;
    font-weight: 700;
    letter-spacing: -.1em;
    line-height: 1;
    opacity: .1
}

.type-post {
    position: absolute;
    display: block;
    background: rgba(0, 0, 0, .5);
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.125em;
    color: #fff;
    text-align: center
}

.type-post i.fa {
    font-size: 1.125em
}

.bottom-box {
    position: absolute;
    top: 100%;
    width: 100%;
    color: #fff
}

.bottom-box h3,
.bottom-box h5,
.bottom-box p {
    color: #fff
}

.bottom-box h3,
.bottom-box h5 {
    margin: 0;
    padding: 0
}

.bottom-box .nickname,
.bottom-box time {
    font-size: .75em;
    font-weight: 700
}

article[class*=triple] .nickname,
article[class*=triple] time {
    font-size: .875em
}

.bottom-box time {
    display: block;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, .2)
}

.bottom-box .nickname {
    color: #fb0;
    line-height: 2
}

.hidden_el {
    display: none
}

.bottom-box p {
    margin: 1em 0 0;
    opacity: .75
}

.bottom-box blockquote {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-left: 0;
    color: #fff
}

.bottom-box blockquote p {
    display: block;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.5;
    color: #fff
}

.bottom-box blockquote .signature:before {
    margin-top: 2.5em;
    border-bottom-color: #fb0
}

.content-ads {
    height: 100%;
    max-height: 100%;
    z-index: 198
}

.content-ads:before {
    position: absolute;
    content: '';
    background: rgba(255, 255, 255, .8);
    top: -2.5em;
    left: -2.5em;
    width: 150%;
    height: 150%;
    z-index: -1
}

.content-ads .wrapper {
    width: inherit;
    height: inherit;
    overflow: hidden
}

a .name-comp {
    display: inline-block;
    width: auto;
    margin-bottom: 1.25rem;
    color: #ff0d3d;
    font-size: .875em;
    line-height: 2;
    overflow: hidden
}

a .name-comp {
    padding: 0 .5rem
}

a .name-comp:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: .5rem solid transparent;
    border-top: .5rem solid #ff0d3d;
    z-index: -1
}

a .title-ads {
    display: block;
    margin-bottom: 1em;
    color: #000;
    font-size: 1.125em;
    line-height: 1.2
}

.adv a p {
    position: relative;
    height: 6em;
    overflow: hidden
}

.see-all i {
    visibility: hidden
}

.adv>a>.border,
.cat>a>.border {
    display: none
}

div.page .entry-content {
    padding: 0
}

div.page section {
    position: relative;
    margin: 0
}

div.page section:not(.team) {
    padding: 2.5em 25%
}

div.page section:first-child {
    padding: 0 17.5% 4em
}

div.page section:first-child>* {
    position: relative;
    z-index: 98
}

div.page section:first-child p {
    margin: 4em 0 0
}

#contact-form,
div.page section.portfolio {
    padding: 2.5em 12.5%
}

h3.title-section,
li.title-section {
    position: absolute;
    width: 25%;
    top: 0;
    left: 0;
    padding: 4.5rem 0 0 5rem;
    font-size: 1.5em
}

.title-section:after {
    position: absolute;
    content: '';
    top: 2.5rem;
    left: 5rem;
    width: 10px;
    height: 0;
    border-bottom: 1px solid #000
}

div.page ul {
    margin: 0 0 0 10px;
    padding: 0
}

div.page ul:not(.texture) li {
    line-height: 2
}

#company ul li {
    font-weight: 700
}

#portfolio {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden
}

#portfolio li {
    position: relative;
    display: block;
    float: left;
    width: 33.3333%;
    height: 50%;
    overflow: hidden
}

#portfolio li.double {
    width: 66.6666%
}

#portfolio li a {
    display: block;
    width: 100%;
    height: 100%
}

a[data-toggle=modal]:before {
    position: absolute;
    font: 1.125em/2.5rem FontAwesome;
    content: '\f00e';
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    left: 50%;
    margin: -1.25rem auto auto -1.25rem;
    color: #fff;
    text-align: center;
    opacity: .5;
    z-index: 98
}

a[data-toggle=modal]:after {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, .2);
    width: 3.75rem;
    height: 3.75rem;
    top: 50%;
    left: 50%;
    margin: -1.875rem auto auto -1.875rem;
    border-radius: 3.75rem;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0)
}

li.person a[data-toggle=modal]:after {
    display: none
}

a[data-toggle=modal]:hover:before {
    opacity: 1
}

a[data-toggle=modal]:hover:after {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1)
}

.team {
    width: 100%
}

div.page .team ul {
    margin: 0;
    padding: 0;
    list-style: none
}

li.person,
li.title-section {
    position: relative;
    display: block;
    width: 25%;
    float: left;
    font-weight: 700
}

li.title-section {
    background: #fff;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 2
}

li.title-section:before {
    position: absolute;
    background: #fff;
    left: 0;
    top: 100%;
    content: '';
    width: 100%;
    height: 5rem;
    z-index: -1
}

.person {
    cursor: pointer;
    overflow: hidden
}

.person img {
    width: 100%;
    height: 100%
}

.person-desc {
    position: absolute;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .62) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .62) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .62) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .62) 100%);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5em;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden
}

.person-desc:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0
}

.person:hover .person-desc {
    background: 0 0
}

.person:hover .person-desc:before {
    background: rgba(255, 255, 255, .5)
}

.person-name {
    top: calc(100% - 2em);
    color: #000;
    font-size: 1.125em;
    line-height: 1.16
}

.person-name-wrapper {
    top: calc(100% - 2rem);
    color: #ff0d3d;
    font-size: .875em
}

.person-text {
    display: none;
    margin-top: 1.25rem;
    max-height: 10.5em;
    color: #000;
    font: 400 1em/1.5 Lato, sans-serif;
    text-transform: none;
    overflow: hidden
}

.person .border {
    border-color: rgba(0, 0, 0, .1);
    color: #000
}

.person a[data-toggle=modal]:before {
    display: none
}

.person-info {
    position: absolute;
    visibility: hidden
}

#team-modal .person-box {
    max-width: 50%;
    margin: 0 auto
}

#team-modal .person-name {
    font-weight: 700
}

#team-modal .person-name-wrapper {
    font-size: 1em;
    margin: 0 0 2.5em
}

#contact {
    margin-top: 3.75em
}

#contact-form {
    padding-top: 0
}

form.contact-form {
    padding-bottom: 2.5em
}

.contact-info {
    padding-bottom: 3.75em
}

.contact-info p {
    margin: 0
}

#map {
    width: 100%
}

body.page-author .person-box {
    background: #fff;
    padding: 10em
}

.person-avatar {
    float: left;
    width: 20em;
    height: 20em;
    margin-right: 5em
}

.person-avatar .border {
    visibility: visible;
    width: calc(100% + 1em);
    height: calc(100% + 1em);
    top: -.5em;
    left: -.5em
}

.person-avatar img {
    max-width: 100%;
    max-height: 100%
}

.author-info {
    float: left;
    width: calc(100% - 25em)
}

#team-modal .person-name,
h1.author-name {
    color: #000;
    font-size: 2.25em;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    border: 0
}

h1.author-name span {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: 400;
    text-transform: none
}

#team-modal .person-name-wrapper,
.author-wrapper {
    color: #ff0d3d;
    margin-top: 1em
}

.person-content {
    color: #000;
    line-height: 1.625;
    margin: 2.5em 0
}

body.archive article.grid,
body.page-author article.grid {
    position: relative;
    float: left;
    width: 50%
}

.error .site-content,
.sitemap .site-content {
    background-color: #fff;
    float: none;
    width: 100%
}

.sitemap-wrapper {
    flex-wrap: wrap
}

.sitemap ul {
    list-style: none
}

.sitemap ul[class*=list] {
    width: 20%;
    margin: 0;
    padding: 2.5em 0
}

.sitemap ul[class*=list]:nth-child(2n) {
    background-color: #eee
}

.sitemap li {
    position: relative
}

.sitemap ul[class*=list] li.title {
    font: 1.5rem 'Playfair Display', serif;
    color: #000;
    margin: 0 0 2.5rem 0;
    padding: 0 1.5em;
    text-transform: none
}

.sitemap ul.list_pages>li:last-child {
    border: 0
}

.sitemap ul[class*=list] li a {
    position: relative;
    display: block;
    font-size: .875rem;
    line-height: 2.5rem;
    color: #000;
    font-weight: 700;
    padding: 0 2.5em
}

.sitemap ul[class*=list] li a[href="#"] {
    cursor: default
}

.sitemap ul[class*=list] li:hover>a {
    color: #fff;
    background-color: #ff0d3d
}

.sitemap ul[class*=list] .submenu {
    padding: 0
}

.sitemap ul[class*=list] ul[class*=list]>li>.submenu {
    margin-top: 2.5rem
}

.sitemap ul[class*=list] .submenu li a {
    font-size: .875rem
}

.sitemap ul[class*=list] .submenu .submenu li a {
    font-size: .75rem
}

.sitemap ul[class*=list] li li>.submenu>li a:before {
    position: relative;
    font-family: FontAwesome;
    content: '\f105';
    margin-right: 2.5em
}

.sitemap li span {
    position: absolute;
    display: none;
    right: 2em;
    top: 0;
    line-height: 2.5em;
    color: #fff
}

body.error .site-content {
    padding: 15em 0;
    text-align: center
}

body.error p {
    margin: 0 0 2.5em 0;
    font: 400 1.5em 'Playfair Display', serif
}

body.error .site-content a {
    font-size: .875rem
}

a.grid {
    display: block;
    width: 100%;
    height: inherit
}

body.page-author .entry-header,
body.post-format-gallery .entry-header,
body.post-format-media .entry-header,
body.post-format-quote .entry-header {
    background-color: #999;
    background-blend-mode: luminosity
}

body.post-format-gallery .entry-header,
body.post-format-media .entry-header,
body.post-format-quote .entry-header {
    padding: 15em
}

.entry-header.dark:before,
.entry-header.light:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0
}

.entry-header.dark:before {
    background: rgba(0, 0, 0, .6)
}

.entry-header.light:before {
    background: rgba(255, 255, 255, .8)
}

body.post-format-gallery .entry-content,
body.post-format-media .entry-content,
body.post-format-quote .entry-content {
    margin-top: 0
}

.entry-content .title-post,
.title-post {
    position: relative;
    font-size: 3em;
    color: #000;
    margin-bottom: 1.25rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    z-index: 899
}

.entry-header.light .title-post {
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.entry-header.dark .title-post {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .2)
}

div.media {
    margin: 0
}

.embed.border {
    position: relative;
    width: 100%;
    margin: 4em 0 0;
    padding: .5em;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 39
}

.entry-header.light .embed.border {
    border-color: rgba(0, 0, 0, .1);
    color: #000
}

.el-crn {
    position: relative;
    display: inline-block;
    height: 2.5rem;
    background: rgba(255, 13, 61, .8);
    color: #fff;
    padding: 0 1.5em;
    font-size: .75em;
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: uppercase
}

.el-crn:hover {
    background: #ff0d3d
}

.el-crn:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-top: .5rem solid rgba(255, 13, 61, .8);
    border-right: .5rem solid transparent
}

.el-crn:hover:before {
    border-top-color: #ff0d3d
}

.el-crn span {
    margin-right: .5em
}

#comments-post {
    margin: 0 0 2.5rem 0;
    cursor: pointer
}

.nav-post {
    width: 100%
}

.post-link {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden
}

.post-link img {
    position: absolute;
    top: 0;
    left: 0
}

.post-link .el-crn {
    top: 0
}

.post-content {
    position: relative;
    width: 65%;
    margin: 0 auto
}

.post-content>:not(.meta-post) {
    margin-left: 10%;
    margin-right: 10%
}

.post-wrapper {
    background: #fff
}

.post-content h2:not(.title-post),
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 4em 0 2em
}

.post-content div[class*=embed],
.post-content>figure,
.post-content>img,
.post-content>p {
    margin-bottom: 2em
}

.author a {
    font-size: .875em;
    margin-right: 2.5em
}

body.post-format-standard .post .post-content>p:first-of-type {
    margin: 4em 0
}

body.post-format-gallery .post .post-content>p:first-of-type,
body.post-format-media .post .post-content>p:first-of-type,
body.post-format-quote .post .post-content>p:first-of-type {
    margin: 8em 0 4em;
    color: rgba(0, 0, 0, .62)
}

.entry-date {
    color: #000;
    font-size: .875em
}

.entry-header.dark .entry-date {
    color: #fff
}

.post-content img {
    max-width: 100%;
    height: auto
}

.ads {
    position: absolute;
    width: 25%;
    right: -30%;
    margin: 0;
    padding-bottom: 2.5em;
    line-height: 1.19;
    overflow: hidden
}

.post .entry-content .ads p {
    font-size: .875em;
    margin: 0;
    padding: 1.25rem 0
}

.ads a .title-ads {
    font-size: 1em
}

.ads a .name-comp {
    font-size: .75rem
}

.ads .see-all {
    position: relative;
    top: auto;
    margin-top: 0;
    width: 100%;
    font-size: .75em
}

.ads a:hover .grayscale {
    -webkit-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0)
}

.tag-links {
    position: relative;
    display: table;
    width: 52%;
    margin: 0 auto;
    padding: 5em 0
}

#tag-cloud .tag-link,
.tag-links a {
    display: inline-block;
    border: 1px solid;
    font-size: .875em;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.2rem;
    margin: 0 .5rem .5rem 0;
    overflow: hidden;
    -webkit-transition: background 125ms ease;
    -ms-transition: background 125ms ease;
    transition: background 125ms ease
}

#tag-cloud .tag-link {
    color: #fff
}

article.quote .entry-content blockquote p {
    font-style: italic
}

article.quote .entry-content blockquote {
    width: 100%;
    margin: 0
}

.entries {
    width: 100%;
    overflow: hidden
}

.grid-2,
article.grid-2 {
    position: relative;
    float: left;
    width: 25%;
    height: inherit;
    overflow: hidden
}

.grid-2 img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%
}

.grid-2 .entry-content {
    overflow: hidden
}

.post-comments {
    padding: 4em 0 8em
}

.comments {
    width: 52%;
    margin: 0 auto
}

.comments .items {
    margin: 2.25rem 0;
    font-size: 2.25em;
    letter-spacing: -2pt;
    color: rgba(0, 0, 0, .1);
    white-space: pre
}

.comment-list,
ul.children {
    margin: 0;
    padding: 0
}

ul.children>ul {
    margin-left: 5em
}

.comment-list li {
    list-style: none;
    padding-top: 2.25em;
    margin-top: 2.25em;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

.comment-list>li:first-child {
    margin-top: 0;
    border-top: none
}

.children li {
    padding-left: 5em
}

.children li:before {
    position: absolute;
    margin-left: -2.5em;
    font: 1.5em FontAwesome;
    content: '\f064';
    color: rgba(0, 0, 0, .1);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.comment-author {
    float: left;
    line-height: 1
}

.avatar {
    float: left;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    margin-right: 1.25rem;
    overflow: hidden
}

.avatar:before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    content: '\f0e5';
    width: 2.5rem;
    font-size: 1.5em;
    line-height: 1;
    text-align: center;
    color: #000;
    z-index: 0
}

.avatar img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2
}

.comment-author .nickname {
    display: block;
    color: #000;
    font-weight: 700
}

.comment-author .entry-date {
    font-size: .75em;
    color: rgba(0, 0, 0, .38)
}

.comment-body p {
    clear: both;
    padding: 2.25em 0 0;
    line-height: 1.37
}

.reply {
    float: left
}

.reply a {
    font-size: .75em
}

.reply a i {
    margin-right: .5rem
}

.blur-on {
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px)
}

a.popup {
    position: relative;
    display: inherit
}

.post-img {
    float: left;
    width: 75%;
    height: inherit
}

.preview ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none
}

.preview ul li {
    position: relative;
    float: left;
    width: 25%
}

.preview li:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.preview li a {
    position: relative;
    display: block;
    width: 100%;
    height: inherit;
    z-index: 79
}

.preview li a:hover .border {
    visibility: visible;
    z-index: 98
}

#gallery .modal-content,
#gallery .modal-dialog,
#popup .modal-content,
#popup .modal-dialog {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden
}

#gallery .modal-body img {
    position: absolute;
    left: -9999px
}

#gallery .modal-body img.full {
    position: relative;
    left: auto;
    max-height: 90vh
}

.gallery-preview {
    float: right;
    overflow: hidden
}

.gallery-preview ul {
    position: relative;
    display: block
}

.gallery-preview li {
    float: left
}

.nav-gall {
    top: 50%;
    margin-top: -1.8rem;
    overflow: hidden
}

.nav-gall.prev {
    left: 2.5rem;
    right: auto
}

body.post-format-quote .entry-header blockquote {
    position: relative;
    margin: 5rem 0 0;
    padding: 0;
    border: 0;
    z-index: auto
}

body.post-format-quote .entry-header blockquote p {
    font-size: 2.25em;
    line-height: 1.3;
    margin-bottom: 5rem
}

body.post-format-quote .entry-header blockquote .signature {
    font-size: 1.5em;
    line-height: 2
}

body.post-format-quote article>.entry-content {
    margin-top: 0
}

input,
textarea {
    font: 400 1em Lato, sans-serif;
    border: 0;
    background: #eee;
    color: #48474b
}

form p {
    margin-bottom: 1.25rem;
    line-height: 0
}

input {
    height: 3.75rem;
    line-height: 3.75rem;
    padding: 0 1.25rem;
    width: 100%
}

textarea {
    width: 100%;
    height: 6.5rem;
    padding: 1.25rem
}

.submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 3rem;
    padding: 0 2.5rem;
    background: #fff;
    width: auto;
    height: 3.5rem;
    font: 700 .875em/3.5rem Montserrat, sans-serif;
    color: #000;
    text-transform: uppercase;
    line-height: 2.5rem;
    border: 0;
    border-radius: 5px 0 0
}

.form-submit {
    position: relative;
    height: 2.5rem;
    top: -10px
}

.form-submit:before {
    position: absolute;
    content: '';
    background: #eee;
    width: 100%;
    height: 3.5em;
    top: -1rem;
    left: 0
}

.comment-form .form-submit:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 100%;
    left: 1.25em;
    border-top: 1.25em solid #eee;
    border-right: 1.25em solid transparent
}

::-webkit-input-placeholder {
    color: #000
}

::-moz-placeholder {
    color: #000
}

:-ms-input-placeholder {
    color: #000
}

#site-search input {
    position: relative;
    display: block;
    float: left;
    background: 0 0;
    width: 100%;
    height: 2.5rem;
    padding: 0;
    font: 1.5em/2.5rem 'Playfair Display', serif
}

.comment-respond {
    margin: 4em 0
}

.pag {
    position: relative;
    display: block;
    text-align: center;
    margin: 4em auto
}

.pagination {
    background-color: transparent;
    border: 0;
    margin: 0
}

.pagination>li>a,
.pagination>li>span {
    background-color: transparent;
    padding: 0;
    font-size: .875em;
    font-weight: 700;
    line-height: 2.5em;
    min-width: 2.5em;
    color: #000;
    border: 0
}

.pagination a[aria-label=Next],
.pagination a[aria-label=Previous] {
    margin: 0 2.5em
}

.pagination>li:not(.disabled)>a:after,
.pagination>li:not(.disabled)>a:before {
    position: absolute;
    background: rgba(255, 13, 62, .2);
    content: "";
    height: 1px;
    left: 0;
    opacity: 0;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transition: opacity .6s cubic-bezier(.19, 1, .22, 1) 0s, -webkit-transform .6s cubic-bezier(.19, 1, .22, 1) 0s;
    transition: opacity .6s cubic-bezier(.19, 1, .22, 1) 0s, transform .6s cubic-bezier(.19, 1, .22, 1) 0s;
    width: 100%
}

.pagination>li:not(.disabled)>a:before {
    top: -6px;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px)
}

.pagination>li:not(.disabled)>a:after {
    bottom: -4px;
    -webkit-transform: translateY(8px);
    transform: translateY(8px)
}

.pagination>li:not(.disabled)>a:hover:after,
.pagination>li:not(.disabled)>a:hover:before {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover,
.pagination>li,
.pagination>li>a:focus,
.pagination>li>span:focus {
    background-color: transparent;
    border: 0;
    color: #000
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.pagination>li>a:hover,
.pagination>li>span:hover {
    background-color: transparent;
    border: 0;
    color: #ff0d3e;
    z-index: 2
}

.pagination>li>a>span {
    padding: 1em 2.5em
}

.pagination i.fa-caret-left,
.pagination i.fa-caret-right {
    position: relative;
    opacity: 0
}

.pagination i.fa-caret-right {
    -webkit-transform: translateX(-1em);
    transform: translateX(-1em)
}

.pagination i.fa-caret-left {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.sidebar .widget {
    border-bottom: 4px solid rgba(255, 255, 255, .2);
    margin-bottom: 2em;
    padding-bottom: 2em
}

#flickr-photos {
    padding-top: 2em
}

.sidebar .widget:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.sidebar .widget ul li {
    position: relative;
    margin-top: 2.5em;
    padding-bottom: 2.5em;
    border-bottom: 1px solid #434345;
    overflow: hidden
}

.sidebar .widget ul li:last-child {
    border-bottom: 0
}

.widget ul li>a {
    display: block
}

.sidebar .widget .meta .fa {
    font-size: 1.125rem
}

.widget a .wcat {
    font-size: .75em;
    font-weight: 700;
    text-align: left;
    color: #717075
}

.recentcomments a .title-post,
.title_resent_posts {
    color: #fff;
    font-size: 1.125rem;
    line-height: 1.2
}

.title_resent_posts {
    margin-bottom: 1em;
    font-weight: 700
}

.widget a>* {
    transition: all .2s ease
}

.widget a p,
.widget p {
    display: block;
    color: #a8a8aa;
    margin-bottom: 2em
}

.widget a:hover .wcat,
.widget a:hover p {
    color: #fff
}

.widget a .meta,
.widget a .read_more,
.widget a:hover .title_resent_posts {
    color: #fb0
}

.widget a .meta,
.widget a .read_more {
    font-size: .875em;
    height: 1rem
}

.widget .read_more {
    position: absolute;
    margin-top: -1rem;
    left: 0;
    opacity: 0
}

.recentcomments .avatar:before {
    color: #fff
}

.recentcomments .avatar img {
    opacity: 0;
    transition: opacity .2s ease
}

.recentcomments a:hover .avatar img {
    opacity: 1
}

.recentcomments a .meta {
    float: left;
    width: calc(100% - 4rem);
    height: auto;
    font-size: .75em;
    font-weight: 700;
    color: #8a8a8c
}

.recentcomments a .title-post {
    display: block;
    margin: 0;
    padding: 0;
    border: 0
}

.recentcomments a .nickname,
.recentcomments a:hover .title-post {
    color: #fb0
}

.recentcomments a:hover .nickname {
    color: #fff
}

.recentcomments p {
    padding-top: 1.62em;
    margin-bottom: 0
}

.title-widget {
    font-size: 1.3125em;
    font-weight: 700;
    color: #0063db;
    text-align: center
}

.title-widget span {
    color: #ff0084
}

.widget .num-cat {
    margin: 0 auto;
    line-height: .5;
    padding-bottom: 2rem;
    color: #fff
}

#flickr-photos ul {
    padding: 2em 0
}

.widget ul li.flickrphotos {
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
    border: 0
}

.flickrphotos img {
    width: 100%;
    height: auto
}

.tagcloud {
    margin: 2em 0
}

.tweet-entry {
    padding-left: 3rem;
    min-height: 2.5rem;
    margin-bottom: 1.25rem;
    font-size: .75em;
    font-weight: 700
}

.tweet-entry:before {
    position: absolute;
    font-family: FontAwesome;
    content: '\f099';
    top: 0;
    left: 0;
    color: #5fa9dd;
    font-size: 1.5rem
}

.tweet-entry time {
    color: #fff
}

.jtwt_tweet a {
    color: #5fa9dd
}

.tweet-entry a {
    display: block
}

p.jtwt_tweet_text {
    margin: 0
}

#footer-sidebar {
    position: relative;
    width: 100%;
    padding: 2.5em 0 0;
    margin: 0
}

#footer-sidebar .widget {
    margin: 0 2.5em
}

#footer-social {
    float: left;
    height: 2.5em;
    border-left: 1px solid rgba(255, 255, 255, .2);
    padding-left: 2em;
    margin-left: 3em
}

#footer-social a.social {
    width: 1em;
    height: 1em;
    line-height: 2.5rem;
    margin: 0 1rem;
    font-size: 1.125em;
    border: 0
}

#footer-social a.social:hover {
    background-color: transparent
}

#footer-social .facebook:hover {
    color: #3b5999
}

#footer-social .twitter:hover {
    color: #28a9e1
}

#footer-social .google-plus:hover {
    color: #df4b38
}

#footer-social .linkedin:hover {
    color: #117bb8
}

.rss:hover {
    color: #faa932
}

#copy {
    float: left;
    display: inline;
    font: .875em/2.5rem Raleway, sans-serif;
    color: rgba(255, 255, 255, .38);
    text-transform: none
}

.navbar-footer {
    float: left;
    line-height: 2.5rem;
    min-height: inherit
}

.navbar-footer>.navbar-nav>li {
    position: relative;
    float: left;
    clear: none;
    height: 1em;
    margin: .8em 0 0 2rem;
    padding-left: 2rem;
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-radius: 0
}

.navbar-footer .navbar-nav li:hover,
.navbar-footer .navbar-nav li:hover a {
    background: 0 0
}

.navbar-footer .navbar-nav li a {
    display: inherit;
    padding: 0;
    font-size: .75em;
    color: rgba(255, 255, 255, .5);
    line-height: 1rem
}

#f-site-name {
    font: 900 .875em 'Playfair Display', serif;
    color: #fff;
    text-transform: capitalize;
    margin-right: .5rem
}

#f-site-name span,
.navbar-footer>.navbar-nav>li>a:hover,
.navbar-footer>.navbar-nav>li>span:hover {
    color: #ffb200
}

#loader {
    position: fixed;
    background: #212025;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh
}

#loader-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -2.5em auto auto -2.5em;
    width: 5em;
    height: 5em;
    border: .25em solid #fff;
    animation: cssload-loader 2.3s infinite ease;
    -o-animation: cssload-loader 2.3s infinite ease;
    -ms-animation: cssload-loader 2.3s infinite ease;
    -webkit-animation: cssload-loader 2.3s infinite ease;
    -moz-animation: cssload-loader 2.3s infinite ease
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #ffb300;
    animation: cssload-loader-inner 2.3s infinite ease-in;
    -o-animation: cssload-loader-inner 2.3s infinite ease-in;
    -ms-animation: cssload-loader-inner 2.3s infinite ease-in;
    -webkit-animation: cssload-loader-inner 2.3s infinite ease-in;
    -moz-animation: cssload-loader-inner 2.3s infinite ease-in
}

@keyframes cssload-loader {
    0% {
        transform: rotate(0)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-o-keyframes cssload-loader {
    0% {
        transform: rotate(0)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-ms-keyframes cssload-loader {
    0% {
        transform: rotate(0)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes cssload-loader {
    0% {
        transform: rotate(0)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-moz-keyframes cssload-loader {
    0% {
        transform: rotate(0)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(360deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes cssload-loader-inner {
    0% {
        height: 0%
    }
    25% {
        height: 0%
    }
    50% {
        height: 100%
    }
    75% {
        height: 100%
    }
    100% {
        height: 0%
    }
}

@-o-keyframes cssload-loader-inner {
    0% {
        height: 0%
    }
    25% {
        height: 0%
    }
    50% {
        height: 100%
    }
    75% {
        height: 100%
    }
    100% {
        height: 0%
    }
}

@-ms-keyframes cssload-loader-inner {
    0% {
        height: 0%
    }
    25% {
        height: 0%
    }
    50% {
        height: 100%
    }
    75% {
        height: 100%
    }
    100% {
        height: 0%
    }
}

@-webkit-keyframes cssload-loader-inner {
    0% {
        height: 0%
    }
    25% {
        height: 0%
    }
    50% {
        height: 100%
    }
    75% {
        height: 100%
    }
    100% {
        height: 0%
    }
}

@-moz-keyframes cssload-loader-inner {
    0% {
        height: 0%
    }
    25% {
        height: 0%
    }
    50% {
        height: 100%
    }
    75% {
        height: 100%
    }
    100% {
        height: 0%
    }
}

@media all and (-webkit-min-device-pixel-ratio:0) {
    .pagination>li>a>span {
        padding: 1em 2.5em 1em 0
    }
}

@media only screen and (min-width:1600px) {
    body,
    html {
        font-size: 16px
    }
}

@media only screen and (min-width:1025px) {
    #main-menu:hover {
        background-color: #fff
    }
    #main-menu li:hover>a {
        color: #fff;
        border: none
    }
    #main-menu li:hover>a:before {
        -ms-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
    #main-menu li.dropdown:hover>.submenu {
        display: block
    }
    .person:hover .border,
    a:hover .border {
        left: 1.25em;
        top: 1.25em;
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    .box:hover .box-cat,
    .box:hover .type-post,
    .box:hover:before,
    .grid-2 a:hover:before,
    .post-link:hover .el-crn {
        opacity: 0
    }
    article:not(.single) .box .fullsizeWrap:after {
        position: absolute;
        background: rgba(0, 0, 0, 0);
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0
    }
    article:not(.single) .box:hover .fullsizeWrap:after {
        background: rgba(0, 0, 0, .7)
    }
    .box:hover img {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    .box:hover .type-quote .nickname,
    .box:hover .type-quote h3,
    .box:hover .type-quote h5,
    .box:hover .type-quote time {
        visibility: hidden
    }
    .cat a:hover .name-cat,
    .cat a:hover .see-all {
        visibility: visible;
        margin-top: -5.5rem
    }
    .adv a:hover .see-all {
        visibility: visible;
        margin-top: -2.5rem
    }
    a:hover .see-all i {
        visibility: visible
    }
    .adv a:hover p {
        height: 3em
    }
    .adv a:hover img,
    .cat:hover .blended {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
    a:hover .name-comp {
        color: #fff
    }
    a:hover .name-comp:after {
        border-width: 12rem
    }
    .ads a:hover .see-all,
    .adv a:hover .see-all,
    a:hover .title-ads {
        color: #ff0d3d
    }
    .ads a:hover .see-all,
    .adv a:hover .see-all {
        border-color: #ff0d3d
    }
    .cat:hover .num-cat {
        top: 0;
        margin-top: 0
    }
    .cat:hover .name-cat {
        top: 7rem;
        opacity: 1
    }
    .pagination li:not(.disabled) a:hover i {
        opacity: 1
    }
    .pagination a:hover i.fa-caret-right {
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    .pagination a:hover i.fa-caret-left {
        -ms-transform: translateX(-.625em);
        -webkit-transform: translateX(-.625em);
        transform: translateX(-.625em)
    }
    .sitemap li:hover span {
        display: inline;
        font-weight: 700
    }
    .widget ul li>a:hover .read_more {
        opacity: 1;
        animation: anim .7s
    }
    .widget ul li:not(.recentcomments)>a:hover .meta {
        opacity: 0
    }
    .person:hover .person-text {
        display: block;
        z-index: 199
    }
    .person:hover .person-name,
    .person:hover .person-name-wrapper {
        top: 0
    }
    .person:hover .person-name,
    .person:hover .person-name-wrapper {
        top: 0
    }
    #tag-cloud .tag-link:hover,
    .tag-links a:hover {
        padding: 0 .55rem
    }
    #tag-cloud .tag-link:hover {
        color: #000;
        background: #fff
    }
    .post .tag-links a:hover {
        background: #ff0d3d;
        color: #fff;
        border-color: #ff0d3d
    }
    .tag-link:before,
    .tag-links a:before {
        position: relative;
        display: none;
        width: 1rem;
        margin-right: .3rem;
        font-family: FontAwesome;
        content: '\f02b';
        font-size: .875em
    }
    .tag-link:hover span,
    .tag-links a:hover span {
        display: inline-block;
        animation: anim_tag 125ms
    }
    @keyframes anim_tag {
        from {
            opacity: 0;
            -ms-transform: translateX(100%);
            transform: translateX(100%)
        }
        to {
            opacity: 1;
            -ms-transform: translateX(0);
            transform: translateX(0)
        }
    }
    .tag-link:hover:before,
    .tag-links a:hover:before {
        display: inline-block;
        animation: anim_i .2s
    }
    @keyframes anim_i {
        from {
            -ms-transform: translateX(-100%);
            transform: translateX(-100%)
        }
        to {
            -ms-transform: translateX(0);
            transform: translateX(0)
        }
    }
    .nav-gall.prev:hover i {
        animation: ar_prev .6s
    }
    @keyframes ar_prev {
        49% {
            opacity: 1;
            -ms-transform: translateX(-2.5em);
            transform: translateX(-2.5em)
        }
        50% {
            opacity: 0
        }
        51% {
            opacity: 1;
            -ms-transform: translateX(2.5em);
            transform: translateX(2.5em)
        }
        100% {
            -ms-transform: translateX(0);
            transform: translateX(0)
        }
    }
    .nav-gall.next:hover i {
        animation: ar_next .6s
    }
    @keyframes ar_next {
        49% {
            opacity: 1;
            -ms-transform: translateX(2.5em);
            transform: translateX(2.5em)
        }
        50% {
            opacity: 0
        }
        51% {
            opacity: 1;
            -ms-transform: translateX(-2.5em);
            transform: translateX(-2.5em)
        }
        100% {
            transform: translateX(0)
        }
    }
}

@media only screen and (min-width:1024px) and (max-width:1280px) {
    .adv a p {
        height: 3.2em
    }
}

@media only screen and (max-width:1280px) {
    body,
    html {
        width: auto;
        overflow: auto
    }
    .main {
        width: 100%;
        margin-top: 0
    }
    a .name-comp {
        margin-bottom: 1em
    }
}

@media only screen and (max-width:1024px) {
    #main-menu.open {
        background: #fff
    }
    #main-menu.open .header-icon.menu {
        color: #000;
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }
    #main-menu ul li {
        position: relative
    }
    #main-menu li.open {
        background: #212025
    }
    #main-menu .nav .open>a,
    #main-menu .nav .open>a:focus,
    #main-menu ul ul.open li a {
        background: 0 0;
        color: #fff
    }
    #main-menu ul li a {
        display: inline-block
    }
    #main-menu .submenu {
        position: relative;
        background: 0 0;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%
    }
    #main-menu .submenu li.open {
        background: #141316
    }
    #main-menu .submenu.open {
        display: block
    }
    #main-menu .submenu li {
        padding-left: 1em
    }
    #main-menu .submenu .submenu {
        background: 0 0
    }
    .o-sbm {
        position: absolute;
        display: inline-block;
        top: 0;
        right: 1em;
        width: 2em;
        height: 100%;
        font-size: 1em;
        font-weight: 400;
        color: #000
    }
    #main-menu li.open .o-sbm {
        color: #fff
    }
    .o-sbm:before {
        position: absolute;
        top: .5rem;
        right: 0;
        font-family: FontAwesome;
        content: '\f107';
        font-size: 1rem;
        z-index: 599
    }
    .o-sbm.open:before {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
    .entry-header[data-type=background] {
        background-attachment: scroll
    }
    .adv .see-all,
    .cat .name-cat,
    .cat .see-all,
    .see-all i {
        visibility: visible;
        opacity: 1
    }
    .cat .name-cat {
        top: 50%
    }
    .cat .see-all {
        margin-top: -5rem
    }
    .adv .see-all {
        margin-top: -2.5rem
    }
    .entry-content section {
        width: 80%;
        padding: 0
    }
    .ads {
        position: relative;
        width: inherit;
        right: 0
    }
    a .name-comp {
        background-color: #ff0d3d;
        color: #fff
    }
    .ads a .see-all,
    .adv a .see-all,
    a .title-ads {
        color: #ff0d3d
    }
    .ads a .see-all,
    .adv a .see-all {
        border-color: #ff0d3d
    }
    .comments,
    .tag-links {
        width: 65%
    }
    div.page section {
        margin: 0 auto
    }
    div.page section.team,
    div.page section:first-child {
        padding-left: 0;
        padding-right: 0
    }
}

@media only screen and (max-width:980px) {
    .adv a p {
        height: 3.2em
    }
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .sidebar {
        padding: 0 4em
    }
    .widget a .read_more,
    .widget li:not(.recentcomments) a .meta {
        position: absolute;
        width: 100%;
        bottom: 3.375em
    }
    #hot-posts li,
    #popular-posts li,
    #recent-comments li,
    #tweets li {
        float: left;
        width: calc(50% - 1.25em)
    }
    #hot-posts li,
    #popular-posts li {
        height: 15.5em
    }
    #hot-posts li p,
    #popular-posts li p {
        height: 6em;
        overflow: hidden
    }
    #recent-comments li {
        height: 5.5em
    }
    #hot-posts li:nth-child(2n),
    #popular-posts li:nth-child(2n),
    #recent-comments li:nth-child(2n),
    #tweets li:nth-child(2n) {
        margin-left: 2.5em
    }
    #hot-posts li:nth-last-child(2),
    #popular-posts li:nth-last-child(2),
    #recent-comments li:nth-last-child(2),
    #tweets li:nth-last-child(2) {
        border-bottom-width: 0
    }
    #flickr-photos ul {
        width: 75%;
        margin: 0 auto
    }
    #flickr-photos li {
        width: 25%
    }
    .ads {
        border-top: 4px solid #e5e5e5;
        border-bottom: 4px solid #e5e5e5;
        padding: 2.5em 0;
        margin-bottom: 2.5em
    }
    .ads:after,
    .ads:before {
        display: table;
        clear: both;
        content: ''
    }
    .ads img {
        position: absolute;
        width: 50%;
        height: auto;
        top: 2.5em;
        right: 0
    }
    .ads .name-comp,
    .ads .see-all,
    .ads .title-ads,
    .ads p {
        max-width: calc(50% - 60px)
    }
    #flickr-photos {
        text-align: center
    }
    #flickr-photos .num-cat,
    #flickr-photos .title-widget {
        display: inline;
        font: 400 1.3125em Montserrat, sans-serif
    }
    #flickr-photos .num-cat {
        margin-right: .5rem
    }
}

@media only screen and (max-width:768px) {
    body,
    html {
        font-size: 16px
    }
    .main {
        margin: 0
    }
    #header,
    #main-header,
    .box-animate {
        padding: 0;
        height: 5em
    }
    #site-search form {
        margin: 1.25em 2.5em
    }
    #main-menu {
        width: 5em
    }
    .navbar-main.open {
        top: 5em
    }
    .header-icon.menu {
        margin: 1rem 1.5rem
    }
    #btn-search,
    #site-search .close {
        right: 1.5rem;
        top: 1rem
    }
    .site-title,
    a.site-title,
    h1.site-title {
        position: absolute;
        display: none;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 4.5rem;
        text-align: center
    }
    .breadcrumb,
    .entry-header.dark::before,
    .entry-header.light::before,
    .site-description,
    body.page .entry-header[data-type=background]::after,
    body.post-format-standard .entry-header[data-type=background]::after {
        display: none
    }
    body.page .entry-header[data-type=background],
    body.post-format-gallery .entry-header,
    body.post-format-media .entry-header,
    body.post-format-quote .entry-header,
    body.post-format-standard .entry-header[data-type=background] {
        background-color: #fff;
        position: relative;
        padding: 0
    }
    div.page>.entry-content,
    div.post>.entry-content {
        width: 100%;
        margin-top: 6em
    }
    div.post>.entry-content {
        padding: 0 4em
    }
    div.page section:not(#map) {
        padding-left: 4em;
        padding-right: 4em
    }
    .gallery #comments-post,
    .gallery .meta-post,
    .media #comments-post,
    .media .meta-post,
    .quote #comments-post,
    .quote .meta-post,
    body.post-format-quote .entry-header blockquote {
        margin-left: 4rem;
        margin-right: 4rem
    }
    .entry-header.dark .title-post {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        color: #000
    }
    .entry-header.dark .entry-date {
        color: #000
    }
    .featured-img {
        height: 24em;
        background-position: center center;
        background-size: cover
    }
    .gallery .featured-img,
    .media .featured-img,
    .quote .featured-img {
        margin-bottom: 4em
    }
    .post-preview {
        margin-top: 2.5em
    }
    .wrapper-content {
        flex-direction: column
    }
    .sidebar,
    .site-content {
        width: 100%
    }
    .main-grid {
        background: #eee
    }
    .grids {
        display: inline
    }
    .bottom-box h3,
    .bottom-box h5 {
        font-size: 1.125em
    }
    .bottom-box .nickname,
    .bottom-box time,
    article[class*=triple] .nickname,
    article[class*=triple] time {
        font-size: .75em
    }
    .metro article.reset-grid {
        display: block;
        position: relative;
        float: left;
        width: 50%;
        height: 50%;
        opacity: 1
    }
    .metro article.reset-grid a.box {
        opacity: 1
    }
    body.page-author .person-box {
        padding: 2.5em
    }
    #team-modal .person-box {
        max-width: calc(100% - 5em)
    }
    #team-modal button.close {
        right: -1.25rem;
        top: -2.5rem
    }
    .person-avatar {
        width: 17.5em;
        height: 17.5em;
        margin-right: 2.5em
    }
    .author-info {
        width: calc(100% - 20em)
    }
    .adv a p {
        height: 6.4em
    }
    #team-modal .person-name,
    h1.author-name {
        font-size: 1.5em
    }
    .entry-content section {
        width: 100%;
        padding: 0
    }
    .post-content {
        width: auto;
        margin: 0
    }
    .post-content>:not(.meta-post) {
        margin-left: 0;
        margin-right: 0
    }
    #share-buttons {
        position: relative;
        width: 100%;
        margin-top: 4em
    }
    #share-buttons a {
        margin: 0 1.25rem 0 0
    }
    .comments,
    .tag-links {
        width: 100%;
        padding: 4rem 0
    }
    .comments {
        width: 100%;
        padding: 4em
    }
    .comment-body p {
        padding: 1em 0 0
    }
    .grid-2,
    article.grid-2 {
        width: 50%
    }
    h3.title-section,
    li.title-section {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        padding-left: 0
    }
    .title-section:after {
        left: 0
    }
    li.title-section {
        padding-bottom: 2.5rem
    }
    li.title-section:before {
        display: none
    }
    li.person {
        width: 50%
    }
    #footer-sidebar {
        padding: 2.5em 0
    }
    #copy,
    #footer-social,
    .navbar-footer {
        float: none;
        text-align: center
    }
    #copy {
        display: block;
        margin-bottom: 2.5em
    }
    .navbar-footer {
        position: relative;
        display: table;
        margin: 0 auto 2.5em
    }
    .navbar-footer>.navbar-nav>li {
        margin-top: 0
    }
    .navbar-footer li:first-child {
        border: 0;
        padding-left: 0;
        margin-left: 0
    }
    #footer-social {
        position: relative;
        display: table;
        width: auto;
        margin: 0 auto;
        padding-left: 0;
        border: 0
    }
    .nav-gall {
        top: 100%;
        margin-top: -5em
    }
    .nav-gall.prev {
        left: 50%;
        margin-left: -5em
    }
    .nav-gall.next {
        right: 50%;
        margin-right: -5em
    }
    .modal-body .pic {
        padding: 0
    }
    .modal-body img {
        max-width: 100vw
    }
    .modal-footer {
        background: 0 0;
        left: 0;
        top: 100%;
        bottom: auto;
        width: 100%;
        height: auto;
        padding: 2em 0;
        text-align: center
    }
    body.post-format-gallery .post .post-content>p:first-of-type,
    body.post-format-media .post .post-content>p:first-of-type,
    body.post-format-quote .post .post-content>p:first-of-type {
        margin: 4em 0
    }
    .sitemap ul[class*=list]:after,
    .sitemap ul[class*=list]:before {
        display: table;
        clear: both;
        content: ''
    }
    .sitemap ul[class*=list] {
        width: 50%
    }
    .sitemap ul[class*=list]:nth-child(2n) {
        background-color: #fff
    }
    .sidebar .widget {
        margin-bottom: 0;
        padding-bottom: 0
    }
    #flickr-photos {
        margin-top: 2.5em
    }
}

@media only screen and (min-width:481px) and (max-width:640px) {
    .adv a p {
        height: 3.2em
    }
    #hot-posts li p,
    #popular-posts li p {
        height: 4.5em
    }
}

@media only screen and (max-width:480px) {
    #btn-search,
    #main-menu {
        z-index: 959
    }
    .metro article.reset-grid,
    body.archive article.grid,
    body.page-author article.grid {
        float: none;
        width: 100%;
        height: 100%
    }
    .fullsizeWrap {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat
    }
    .adv a {
        background: rgba(255, 255, 255, .6)
    }
    body.post-format-gallery .entry-header,
    body.post-format-media .entry-header {
        padding: 10em 2.5em
    }
    .comments,
    article.site-content>div>.entry-content {
        width: 100%;
        padding: 0 2.5em
    }
    .gallery #comments-post,
    .gallery .meta-post,
    .media #comments-post,
    .media .meta-post,
    .quote #comments-post,
    .quote .meta-post {
        margin-left: 0;
        margin-right: 0
    }
    .gallery .featured-img,
    .media .featured-img {
        display: none
    }
    body.post-format-quote .entry-header #comments-post,
    body.post-format-quote .entry-header .meta-post,
    body.post-format-quote .entry-header blockquote {
        margin-left: 2.5rem;
        margin-right: 2.5rem
    }
    body.post-format-quote .entry-header .meta-post {
        width: calc(100% - 5rem)
    }
    .preview ul li {
        width: 50%
    }
    .sidebar {
        padding-top: 2em;
        padding-bottom: 2em
    }
    .sidebar ul li:not(.recentcomments) {
        float: none;
        width: 100%;
        height: auto
    }
    .sidebar ul li:not(.recentcomments):nth-child(2n) {
        margin-left: 0
    }
    .sidebar ul li:not(.recentcomments):nth-last-child(2) {
        border-bottom-width: 1px
    }
    .sidebar ul li.flickrphotos {
        width: 100%
    }
    .pagination>li>a>span {
        padding: 1em 0
    }
    #portfolio li,
    .grid-2,
    .post-link,
    article.grid-2,
    li.person {
        float: none;
        width: 100%
    }
    #portfolio li {
        height: auto
    }
    #portfolio li img {
        width: 100%;
        height: auto
    }
    #flickr-photos ul,
    #recent-comments ul {
        width: 100%;
        margin: 0
    }
    #flickr-photos li {
        float: left;
        width: 50%
    }
    .children li {
        padding-left: 0
    }
    .children li::before {
        background: #fff;
        width: 2em;
        height: 2em;
        padding: 2em 0;
        margin: -4em 0 0 0
    }
    #footer-sidebar .widget {
        margin: 0 2em
    }
    .author-info,
    .person-avatar {
        float: none;
        width: 100%;
        height: auto;
        margin: 0
    }
    .author-info {
        margin-top: 2.5em
    }
    .pag {
        margin: 2.5em auto
    }
    .pagination i.fa-caret-left,
    .pagination i.fa-caret-right {
        opacity: 1;
        transform: translateX(0)
    }
}

@media only screen and (max-width:380px) {
    body,
    html {
        font-size: 14px
    }
    #site-search input {
        font-size: 1em
    }
    #f-site-desc {
        display: block
    }
    .sitemap ul[class*=list] {
        width: 100%
    }
    .navbar-footer {
        width: 50%
    }
    .navbar-footer>.navbar-nav>li {
        float: none;
        margin: 0;
        padding: 1em 0;
        width: 100%;
        height: auto;
        border-top: 1px solid rgba(255, 255, 255, .2);
        border-left: 0
    }
    .navbar-footer>.navbar-nav>li:first-child {
        border: 0
    }
    #footer-social a.social {
        margin: 0 .5rem
    }
    .pagination>li:first-child>a,
    .pagination>li:first-child>span,
    .pagination>li:last-child>a,
    .pagination>li:last-child>span {
        margin: 0
    }
}